

// VARIÁVEIS
	$roxo-claro: #998dab;
	$roxo-escuro: #3e2864;
	$azul: #628eb7;
	$cinza: rgb(210,210,210);
	$laranja: #f69f4f;
	$shadow: 0px 3px 5px rgba(0, 7, 0, 0.7);

//MIXINS
	@mixin centro{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			 -o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
	}
	@mixin centroH{
		position: absolute;		
		left: 50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			 -o-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	@mixin centroV{
		position: absolute;		
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			 -o-transform: translateY(-50%);
				transform: translateY(-50%);
	}
	@mixin skew($graus){
		-webkit-transform: skewX($graus); 
		   -moz-transform: skewX($graus); 
			-ms-transform: skewX($graus);
			 -o-transform: skewX($graus);	    
	    		transform: skewX($graus);
	}	
	@mixin rotate($graus){
		-webkit-transform: rotate($graus); 
		   -moz-transform: rotate($graus); 
			-ms-transform: rotate($graus);
			 -o-transform: rotate($graus);	    
	    		transform: rotate($graus);
	}
	@mixin sombracaixa{
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
		   -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
		     -ms-transform: 0px 5px 5px 0px rgba(0,0,0,0.3);
		      -o-transform: 0px 5px 5px 0px rgba(0,0,0,0.3);
				box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);				
	}
	@mixin blurzero{
		-webkit-filter: blur(0);
		   -moz-filter: blur(0);
		     -o-filter: blur(0);
		    -ms-filter: blur(0);
			    filter: blur(0);
	}
	@mixin transicao{
		-webkit-transition: all 0.5s ease-in-out;
		   -moz-transition: all 0.5s ease-in-out;
			 -o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
	}


