@charset "UTF-8";
* {
  list-style: none;
  outline: none; }

body {
  font-family: 'Open Sans';
  outline: none; }

/*REDES SOCIAIS TOPO*/
.redes-sociais {
  background: #60BFBF;
  text-align: center;
  min-height: 50px;
  padding: 10px 0 0 0; }
  .redes-sociais .incon a {
    color: #fff;
    font-size: 30px;
    margin: 5px; }
    .redes-sociais .incon a:hover {
      color: #1B3C59; }
  .redes-sociais p {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    line-height: 42px; }

/*HEADER*/
.bg-fundo-top {
  background: #1B3C59; }

.topo .bg-menu {
  background: #1B3C59;
  color: #fff;
  position: relative; }
  .topo .bg-menu .link-logo {
    display: block;
    padding: 25px 0;
    width: 100%;
    max-width: 160px;
    text-align: center;
    margin: 0 auto; }
    .topo .bg-menu .link-logo h1 {
      display: block;
      width: 160px;
      height: 160px;
      text-indent: -9999em;
      background: url(../img/logo.png) no-repeat;
      margin: 0 auto; }
  .topo .bg-menu .posicao {
    margin: 0 auto;
    width: 190px; }
    .topo .bg-menu .posicao .pontilhado {
      background: url(../img/pontilhado.png);
      width: 82px;
      max-width: 82px;
      min-height: 682px;
      position: absolute;
      left: 6px;
      top: 20px; }
    .topo .bg-menu .posicao .navbar .navbar-toggle {
      border: solid 1px #fff; }
      .topo .bg-menu .posicao .navbar .navbar-toggle span {
        background: #fff; }
    .topo .bg-menu .posicao .navbar .navbar-header .collapse ul {
      background: #1B3C59 !important; }
      .topo .bg-menu .posicao .navbar .navbar-header .collapse ul li {
        display: block;
        float: none !important;
        padding: 0 !important; }
        .topo .bg-menu .posicao .navbar .navbar-header .collapse ul li a {
          color: #fff;
          display: block;
          font-weight: bold;
          border: solid 2px transparent; }
          .topo .bg-menu .posicao .navbar .navbar-header .collapse ul li a:hover {
            border: solid 2px #fff;
            background-color: transparent !important;
            color: #e3ae47; }
          .topo .bg-menu .posicao .navbar .navbar-header .collapse ul li a:focus {
            border: solid 2px #fff !important;
            background: transparent !important; }
      .topo .bg-menu .posicao .navbar .navbar-header .collapse ul .dropdown .dropdown-menu {
        top: -4% !important;
        left: 100% !important;
        background-color: #10273F !important; }
        .topo .bg-menu .posicao .navbar .navbar-header .collapse ul .dropdown .dropdown-menu a {
          background: #10273F !important; }
          .topo .bg-menu .posicao .navbar .navbar-header .collapse ul .dropdown .dropdown-menu a:hover {
            color: #F8BB44 !important;
            border: solid 2px transparent; }
  .topo .bg-menu .busca-site {
    height: 50px;
    width: 100%;
    position: relative;
    margin: 20px 0; }
    .topo .bg-menu .busca-site .campo-pesquisa {
      background-color: #10273F;
      border: 0;
      outline: none;
      height: 35px;
      width: 100%;
      padding: 5px; }
    .topo .bg-menu .busca-site input,
    .topo .bg-menu .busca-site textarea {
      color: #88939F; }
    .topo .bg-menu .busca-site ::-webkit-input-placeholder {
      color: #88939F !important;
      font-style: italic; }
    .topo .bg-menu .busca-site :-moz-placeholder {
      color: #88939F !important;
      font-style: italic; }
    .topo .bg-menu .busca-site ::-moz-placeholder {
      color: #88939F !important;
      font-style: italic; }
    .topo .bg-menu .busca-site :-ms-input-placeholder {
      color: #88939F !important;
      font-style: italic; }
    .topo .bg-menu .busca-site .botao-de-presquisa {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      height: 35px;
      border: 0;
      color: #88939f;
      font-size: 20px; }
.topo .altura {
  position: relative;
  overflow: hidden; }
.topo .caixa-texto {
  min-height: 200px;
  height: auto;
  background: #1B3C59;
  width: 100%;
  max-width: 75%;
  position: absolute;
  left: -75%;
  z-index: 2;
  transition: All 1s ease;
  -webkit-transition: All 1s ease;
  -moz-transition: All 1s ease;
  -o-transition: All 1s ease; }
  .topo .caixa-texto:hover {
    left: 0; }
  .topo .caixa-texto:before {
    content: '';
    position: absolute;
    background-position: center !important;
    background-size: cover !important;
    right: -100px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #1B3C59; }
  .topo .caixa-texto span {
    color: #fff !important;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    display: block;
    font-size: 20px;
    margin: 15px 20px 0; }
  .topo .caixa-texto b {
    color: #fff !important;
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: 600;
    display: block;
    width: 100%;
    max-width: 258px;
    line-height: 25px;
    margin: 0 20px 15px; }
  .topo .caixa-texto p {
    background: transparent;
    color: #fff !important;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 400;
    padding: 0 20px;
    margin-bottom: 20px; }
.topo .bg-header {
  width: 100%;
  background-size: cover !important;
  height: 780px;
  background-position: center !important;
  position: relative;
  z-index: 1; }
  .topo .bg-header #frase {
    position: absolute;
    bottom: 0;
    margin: 20px;
    color: #fff;
    font-size: 25px;
    font-style: italic;
    width: 100%;
    font-weight: 100;
    max-width: 360px;
    height: auto; }
.topo .legenda {
  background: #f8bb44;
  margin: 0;
  padding: 10px 0 0 25px;
  width: 100%;
  height: 57px;
  color: #1B3C59;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: transparent !important; }

/*MODAL DE INDICA├ç├âO*/
.modal-content {
  margin-top: 50px; }

.modal-topo {
  background-color: #fff;
  border-left: 10px solid #1b3c59; }
  .modal-topo .close {
    font-size: 50px; }
  .modal-topo p {
    margin: 10px;
    font-size: 20px;
    font-family: 'Open Sans';
    display: inline-block;
    color: #1b3c59;
    font-weight: 600;
    text-transform: uppercase; }
  .modal-topo .info {
    color: #1b3c59;
    font-weight: 100;
    font-style: italic;
    font-size: 15px;
    display: block;
    padding: 10px;
    margin-bottom: 30px; }
  .modal-topo i {
    color: #1b3c59;
    font-size: 35px; }
  .modal-topo .form-indicacao .form-group {
    height: 40px;
    position: relative;
    margin: 100px 0; }
    .modal-topo .form-indicacao .form-group input {
      border: none;
      border-radius: 0;
      height: 45px;
      font-size: 17px;
      padding: 5px;
      outline: none !important;
      border: 1px solid #1b3c59;
      z-index: 1; }
      .modal-topo .form-indicacao .form-group input:focus {
        border: none;
        outline: none !important;
        box-shadow: none;
        border: 1px solid #1b3c59; }
    .modal-topo .form-indicacao .form-group textarea {
      max-height: 160px !important;
      height: 160px !important;
      /* max-width: 568px !important; */
      width: 100% !important;
      font-size: 17px;
      padding: 5px;
      border: 1px solid #1b3c59;
      border-radius: 0; }
    .modal-topo .form-indicacao .form-group i {
      z-index: 999999;
      position: absolute;
      top: -48px;
      display: block;
      background: #fff;
      width: 115px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #1b3c59;
      border-left: 1px solid #1b3c59;
      border-right: 1px solid #1b3c59;
      margin-bottom: -4px;
      font-size: 26px; }
  .modal-topo .form-indicacao .botao-indicacao {
    background: transparent;
    border: solid 4px #1B3C59;
    width: 150px;
    height: 50px;
    font-weight: 400;
    margin: 25px 0;
    border-radius: 9px;
    right: 130px;
    color: #1B3C59; }
    .modal-topo .form-indicacao .botao-indicacao:hover {
      background: #1B3C59;
      color: #fff; }

/*FOOTER*/
.videos {
  width: 100%;
  min-height: 250px;
  background: #1B3C59; }
  .videos p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans';
    color: #fff;
    margin: 20px 0;
    padding: 0 20px; }
  .videos .bg {
    background: url(../img/pontilhado.png);
    width: 82px;
    min-height: 240px;
    margin: 20px 5px; }
  .videos .carrossel {
    margin: 50px 0 25px;
    padding: 0 20px; }
    .videos .carrossel .owl-Carousel .item {
      width: 100%;
      position: relative; }
      .videos .carrossel .owl-Carousel .item:hover .fa {
        color: #fff; }
      .videos .carrossel .owl-Carousel .item .fa {
        position: absolute;
        top: 50%;
        font-size: 60px;
        color: transparent;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }
      .videos .carrossel .owl-Carousel .item iframe {
        width: 150px;
        height: 160px; }

.newsletter {
  min-height: 380px;
  width: 100%;
  background-color: #60BFBF; }
  .newsletter .redes-sociais-footer {
    width: 100%;
    max-width: 245px;
    margin: 50px auto 30px; }
    .newsletter .redes-sociais-footer a {
      color: #fff;
      font-size: 40px;
      margin: 10px; }
      .newsletter .redes-sociais-footer a:hover {
        color: #1B3C59; }
    .newsletter .redes-sociais-footer p {
      margin: 0 auto;
      width: 100%;
      font-size: 20px;
      font-family: 'Open Sans';
      max-width: 245px;
      color: #1b3c59;
      font-weight: 600; }
      .newsletter .redes-sociais-footer p b {
        display: block;
        text-transform: uppercase; }
  .newsletter .form {
    padding: 50px 0 0;
    position: relative; }
    .newsletter .form .formError {
      position: inherit !important; }
    .newsletter .form .formError .formErrorContent {
      position: absolute !important;
      bottom: -80px !important;
      right: 50% !important; }
    .newsletter .form p {
      text-align: center;
      color: #fff;
      font-style: italic;
      font-weight: 100;
      font-size: 17px; }
    .newsletter .form b {
      text-align: center;
      display: block;
      text-transform: uppercase;
      color: #fff;
      font-size: 27px;
      font-weight: 600; }
    .newsletter .form .campo-text {
      margin: 0 auto;
      padding: 0 0 0 10px;
      height: 40px;
      border: solid 2px #08273B;
      background-color: #397d87;
      display: block;
      margin: 10px auto 0;
      width: 100%;
      max-width: 400px; }
    .newsletter .form input,
    .newsletter .form textarea {
      color: #D6D6D6; }
    .newsletter .form ::-webkit-input-placeholder {
      color: #D6D6D6 !important;
      font-style: italic; }
    .newsletter .form :-moz-placeholder {
      color: #D6D6D6 !important;
      font-style: italic; }
    .newsletter .form ::-moz-placeholder {
      color: #D6D6D6 !important;
      font-style: italic; }
    .newsletter .form :-ms-input-placeholder {
      color: #D6D6D6 !important;
      font-style: italic; }
    .newsletter .form .botao {
      background: transparent;
      border: solid 4px #1B3C59;
      width: 150px;
      height: 50px;
      font-weight: bold;
      margin: 25px 0;
      border-radius: 9px;
      position: absolute;
      right: 130px;
      color: #1B3C59; }
      .newsletter .form .botao:hover {
        color: #fff;
        background: #1B3C59; }

.rodape {
  min-height: 280px;
  background: #1B3C59; }
  .rodape .logo .link-logo {
    display: block;
    padding: 25px 0;
    width: 100%;
    max-width: 160px;
    text-align: center;
    margin: 0 auto; }
    .rodape .logo .link-logo h1 {
      display: block;
      width: 160px;
      height: 160px;
      text-indent: -9999em;
      background: url(../img/logo.png) no-repeat;
      margin: 0 auto; }
  .rodape .mapa-footer span {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    font-size: 17px;
    font-family: 'Open Sans';
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px; }
  .rodape .mapa-footer .mapa {
    list-style: none;
    margin: 0;
    padding: 0; }
    .rodape .mapa-footer .mapa li {
      text-align: left;
      padding: 0;
      display: inline-block;
      margin: 15px 10px;
      vertical-align: top; }
      .rodape .mapa-footer .mapa li b {
        font-family: 'Open Sans';
        color: #fff;
        margin-bottom: 10px;
        display: block;
        font-size: 14px; }
      .rodape .mapa-footer .mapa li a {
        font-family: 'Open Sans';
        color: #fff;
        margin-bottom: 10px;
        display: block; }
      .rodape .mapa-footer .mapa li small {
        color: #fff;
        font-family: 'Open Sans';
        display: block;
        font-weight: 100;
        font-size: 14px; }
      .rodape .mapa-footer .mapa li button {
        color: #fff;
        font-family: 'Open Sans';
        display: block;
        font-weight: 100;
        border: 0;
        background: transparent;
        padding: 0;
        margin: 0;
        outline: none; }
        .rodape .mapa-footer .mapa li button:hover {
          text-decoration: underline; }
  .rodape .copyright {
    width: 100%;
    color: #fff;
    text-align: center; }
    .rodape .copyright p {
      font-size: 15px;
      margin: 0;
      font-weight: 400; }

/*PG*/
.pg .postagem .post .caixa .posicao a {
  line-height: 20px; }
.pg .title-pg {
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 50px 0 0 20px;
  color: #1B3C59; }
.pg .title-pg2 {
  color: #1B3C59;
  margin: 20px;
  font-family: "Open Sans";
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700; }
.pg .botao-search {
  border: 0;
  background: transparent;
  font-size: 25px;
  color: #1B3C59; }
.pg .form-arquivo-blog {
  background: #60BFBF;
  height: 190px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
.pg .propagandas a {
  display: block;
  width: 100%;
  max-width: 345px;
  margin: 25px auto; }
.pg .efeito:hover, .pg .link-facaparte:hover, .pg .botao:hover {
  color: #fff !important;
  background: #60BFBF !important;
  border-color: #60BFBF !important;
  text-decoration: none; }
.pg .form-arquivo-blog {
  height: auto !important;
  padding: 27px 0 20px 0 !important; }
  .pg .form-arquivo-blog .criterio {
    line-height: 30px !important;
    color: #B7B7B7 !important; }
.pg .panel {
  background-color: transparent !important;
  border: 0 !important; }
.pg .panel-group {
  width: 200px !important;
  margin: 0 auto !important;
  border: 0 !important; }
.pg .panel-heading {
  padding: 0 !important; }
.pg .panel-body {
  border: 0 !important; }
  .pg .panel-body ul {
    padding: 0; }
    .pg .panel-body ul li {
      width: 100%; }
      .pg .panel-body ul li a {
        color: #fff;
        color: #fff;
        font-size: 17px;
        font-weight: 100;
        font-style: italic; }

/*LINKS ATIVO*/
.home #home {
  color: #e3ae47; }

.blog #blog {
  color: #e3ae47; }

.single-post #blog {
  color: #e3ae47; }

.post-type-archive-lugares #lugar {
  color: #e3ae47; }

.tax-categoriaLugares #lugar {
  color: #e3ae47; }

.single-lugares #lugar {
  color: #e3ae47; }

.post-type-archive-galeria #galeria {
  color: #e3ae47; }

.post-type-archive-galeria #fotos {
  color: #e3ae47; }

.single-galeria #galeria {
  color: #e3ae47; }

.single-galeria #fotos {
  color: #e3ae47; }

.post-type-archive-video #video {
  color: #e3ae47; }

.post-type-archive-video #galeria {
  color: #e3ae47; }

.single-video #video {
  color: #e3ae47; }

.single-video #galeria {
  color: #e3ae47; }

.page-template-tripdecasal #tripdeCasal {
  color: #e3ae47; }

.page-template-parceiros #parceiros {
  color: #e3ae47; }

.post-type-archive-trilha-sonora #playlists {
  color: #e3ae47; }

.page-template-musica #bandas {
  color: #e3ae47; }

.post-type-archive-trilha-sonora #viajandonamusica {
  color: #e3ae47; }

.page-template-musica #viajandonamusica {
  color: #e3ae47; }

.page-template-contato #contato {
  color: #e3ae47; }

.page-template-leticia #leticia {
  color: #e3ae47; }

.page-template-bruno #bruno {
  color: #e3ae47; }

.page-template-leticia #quem-faz {
  color: #e3ae47; }

.page-template-bruno #quem-faz {
  color: #e3ae47; }

.page-template-origemdocanal #origemdocanal {
  color: #e3ae47; }

.page-template-origemdocanal #quem-faz {
  color: #e3ae47; }

/*P├üGINA INICIAL*/
.pg-inicial .form-arquivo-blog {
  background: #60BFBF;
  height: 190px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg-inicial .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-inicial .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-inicial .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
  .pg-inicial .form-arquivo-blog input,
  .pg-inicial .form-arquivo-blog textarea {
    color: #D6D6D6; }
  .pg-inicial .form-arquivo-blog ::-webkit-input-placeholder {
    color: #D6D6D6 !important;
    font-style: italic; }
  .pg-inicial .form-arquivo-blog :-moz-placeholder {
    color: #D6D6D6 !important;
    font-style: italic; }
  .pg-inicial .form-arquivo-blog ::-moz-placeholder {
    color: #D6D6D6 !important;
    font-style: italic; }
  .pg-inicial .form-arquivo-blog :-ms-input-placeholder {
    color: #D6D6D6 !important;
    font-style: italic; }
.pg-inicial .propagandas a {
  display: block;
  width: 100%;
  max-width: 345px;
  margin: 25px auto; }
.pg-inicial .postagem {
  margin: 20px 0;
  /*max-width: 600px;*/
  padding-left: 20px;
  width: 100%; }
  .pg-inicial .postagem .post {
    min-height: 500px; }
    .pg-inicial .postagem .post .bg-post {
      width: 100%;
      height: 290px;
      background-size: cover !important;
      background-position: center !important; }
    .pg-inicial .postagem .post .caixa {
      text-align: right; }
      .pg-inicial .postagem .post .caixa .posicao {
        position: relative;
        text-align: right; }
        .pg-inicial .postagem .post .caixa .posicao span {
          color: #1b3c59;
          font-style: italic;
          font-size: 17px;
          margin: 20px 0 0;
          display: block; }
        .pg-inicial .postagem .post .caixa .posicao .info {
          text-transform: uppercase;
          color: #1b3c59;
          font-weight: bold;
          font-size: 25px; }
        .pg-inicial .postagem .post .caixa .posicao a {
          display: block;
          border: solid 4px #1B3C59;
          width: 145px;
          height: 45px;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          color: #1B3C59;
          position: absolute;
          right: 0;
          margin: 10px 0;
          font-size: 17px;
          font-weight: 500; }
      .pg-inicial .postagem .post .caixa .texto {
        padding: 20px;
        margin: 0;
        font-size: 17px;
        font-family: 'Open Sans';
        color: #1b3c59;
        text-align: left !important; }

/*P├üGINA POSTAGEM*/
.pg-postagem .form-arquivo-blog {
  background: #60BFBF;
  height: auto;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 25px 0; }
  .pg-postagem .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-postagem .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-postagem .form-arquivo-blog .panel-group {
    width: 100%;
    max-width: 170px;
    margin: 0 auto; }
    .pg-postagem .form-arquivo-blog .panel-group .panel {
      padding: 0;
      margin: 0;
      border: 0; }
      .pg-postagem .form-arquivo-blog .panel-group .panel .panel-heading {
        padding: 0;
        margin: 0; }
        .pg-postagem .form-arquivo-blog .panel-group .panel .panel-heading .panel-title .criterio {
          margin: 20px 0 0 0;
          padding: 0 0 0 10px;
          height: 35px;
          border: solid 1px #08273B;
          background-color: #397d87;
          display: block;
          margin: 10px auto 0;
          line-height: 30px;
          color: #B7B7B7; }
  .pg-postagem .form-arquivo-blog .panel-collapse .panel-body {
    background: #60BFBF;
    border: 0; }
    .pg-postagem .form-arquivo-blog .panel-collapse .panel-body p {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-family: "Open Sans"; }
.pg-postagem .propagandas a {
  display: block;
  width: 100%;
  max-width: 345px;
  margin: 25px auto; }
.pg-postagem .postagem {
  margin: 20px 0;
  /*max-width: 600px;*/
  padding-left: 20px;
  width: 100%; }
  .pg-postagem .postagem .post {
    min-height: 500px; }
    .pg-postagem .postagem .post .bg-post {
      width: 100%;
      height: 290px;
      background-size: cover !important;
      background-position: center !important; }
    .pg-postagem .postagem .post .caixa {
      text-align: right; }
      .pg-postagem .postagem .post .caixa .pontilhado-postagem {
        background: url(../img/pontilhado2.png);
        width: 100%;
        height: 65px;
        max-width: 220px;
        margin: 10px auto; }
      .pg-postagem .postagem .post .caixa .posicao {
        position: relative; }
        .pg-postagem .postagem .post .caixa .posicao span {
          color: #1b3c59;
          font-style: italic;
          font-size: 20px;
          margin: 20px 20px 0;
          display: block; }
        .pg-postagem .postagem .post .caixa .posicao .info {
          text-transform: uppercase;
          color: #1b3c59;
          font-weight: bold;
          font-size: 30px;
          text-align: center; }
        .pg-postagem .postagem .post .caixa .posicao .in-fo {
          margin: 20px 0;
          font-size: 19px;
          font-family: 'Open Sans';
          color: #1b3c59;
          text-align: left !important;
          color: red;
          font-style: italic;
          font-weight: 100;
          padding: 5px; }
        .pg-postagem .postagem .post .caixa .posicao a {
          display: block;
          border: solid 4px #1B3C59;
          width: 145px;
          height: 45px;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          color: #1B3C59;
          position: absolute;
          right: 0;
          margin: 10px;
          font-size: 17px; }
      .pg-postagem .postagem .post .caixa .texto {
        padding: 20px;
        margin: 0;
        font-size: 17px;
        font-family: 'Open Sans';
        color: #1b3c59;
        text-align: left !important; }

/*P├üGINA QUEM FAZ*/
.pg-quem-faz .form-arquivo-blog {
  background: #60BFBF;
  height: 190px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg-quem-faz .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-quem-faz .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-quem-faz .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
.pg-quem-faz .propagandas a {
  display: block;
  width: 100%;
  max-width: 345px;
  margin: 25px auto; }
.pg-quem-faz .postagem {
  margin: 20px 0;
  /*max-width: 600px;*/
  padding-left: 20px;
  width: 100%; }
  .pg-quem-faz .postagem .post {
    min-height: 500px; }
    .pg-quem-faz .postagem .post .bg-post {
      width: 100%;
      height: 290px;
      background-size: cover !important;
      background-position: center !important; }
    .pg-quem-faz .postagem .post .caixa {
      text-align: right; }
      .pg-quem-faz .postagem .post .caixa .pontilhado-postagem {
        background: url(../img/pontilhado2.png);
        width: 100%;
        min-height: 120px;
        max-width: 220px;
        margin: 20px auto; }
      .pg-quem-faz .postagem .post .caixa .posicao {
        position: relative; }
        .pg-quem-faz .postagem .post .caixa .posicao span {
          color: #1b3c59;
          font-style: italic;
          font-size: 25px;
          margin: 20px 20px 0;
          display: block; }
        .pg-quem-faz .postagem .post .caixa .posicao .info {
          text-transform: uppercase;
          color: #1b3c59;
          font-weight: bold;
          font-size: 30px;
          text-align: right;
          padding: 5px; }
        .pg-quem-faz .postagem .post .caixa .posicao .in-fo {
          margin: 20px 0;
          font-size: 19px;
          font-family: 'Open Sans';
          color: #1b3c59;
          text-align: left !important;
          color: red;
          font-style: italic;
          font-weight: 100;
          padding: 5px; }
        .pg-quem-faz .postagem .post .caixa .posicao a {
          display: block;
          border: solid 4px #1B3C59;
          width: 145px;
          height: 45px;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          color: #1B3C59;
          position: absolute;
          right: 0;
          margin: 10px;
          font-size: 17px; }
      .pg-quem-faz .postagem .post .caixa .texto {
        padding: 20px;
        margin: 0;
        font-size: 17px;
        font-family: 'Open Sans';
        color: #1b3c59;
        text-align: left !important; }
.pg-quem-faz .origem-docanal {
  display: block;
  text-align: right;
  color: #60BFBF;
  font-size: 22px;
  font-weight: 600;
  margin: 15px; }

/*P├üGINA LUGARES*/
.pg-lugares .modal-dialog {
  width: 100%;
  height: auto;
  margin: 0!important;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.86); }
.pg-lugares .modal-content {
  height: auto;
  border-radius: 0;
  background: transparent; }
.pg-lugares .form-arquivo-blog {
  background: #60BFBF;
  height: 190px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg-lugares .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-lugares .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-lugares .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
.pg-lugares .propagandas a {
  display: block;
  width: 100%;
  max-width: 345px;
  margin: 25px auto; }
.pg-lugares .postagem {
  margin: 20px 0;
  /*max-width: 600px;*/
  padding-left: 20px;
  width: 100%; }
  .pg-lugares .postagem .post {
    min-height: 500px; }
    .pg-lugares .postagem .post .bg-post {
      width: 100%;
      height: 290px;
      background-size: cover !important;
      background-position: center !important; }
    .pg-lugares .postagem .post .caixa {
      text-align: right; }
      .pg-lugares .postagem .post .caixa .posicao {
        position: relative; }
        .pg-lugares .postagem .post .caixa .posicao span {
          color: #1b3c59;
          font-style: italic;
          font-size: 17px;
          margin: 20px 20px 0;
          display: block; }
        .pg-lugares .postagem .post .caixa .posicao .info {
          text-transform: uppercase;
          color: #1b3c59;
          font-weight: bold;
          font-size: 25px;
          text-align: right; }
        .pg-lugares .postagem .post .caixa .posicao a {
          display: block;
          border: solid 4px #1B3C59;
          width: 145px;
          height: 45px;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          color: #1B3C59;
          position: absolute;
          right: 0;
          margin: 10px;
          font-size: 17px; }
      .pg-lugares .postagem .post .caixa .texto {
        padding: 20px;
        margin: 0;
        font-size: 17px;
        font-family: 'Open Sans';
        color: #1b3c59;
        text-align: left !important; }
.pg-lugares .info-fotos {
  padding: 20px;
  margin: 0;
  font-size: 17px;
  font-family: 'Open Sans';
  color: #1b3c59;
  text-align: left !important; }
.pg-lugares .botao-ver {
  display: block;
  border-bottom: solid 4px #1B3C59;
  width: 100%;
  height: 45px;
  text-align: left;
  padding: 10px;
  border-radius: 0;
  color: #1B3C59;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 15px;
  max-width: 540px; }
.pg-lugares a {
  padding: 5px; }
.pg-lugares .imagens ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0; }
  .pg-lugares .imagens ul li {
    display: inline-block;
    width: 100%;
    max-width: 348px;
    min-height: 140px;
    margin: 15px 15px; }
    .pg-lugares .imagens ul li span {
      cursor: pointer;
      display: block; }
      .pg-lugares .imagens ul li span .bg-lugar {
        width: 100%;
        min-height: 205px;
        background-position: center !important;
        background-size: cover !important; }

/*P├üGINA CATEGORIA LUGARES*/
.pg-categoria-lugares .form-arquivo-blog {
  background: #60BFBF;
  min-height: 225px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg-categoria-lugares .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-categoria-lugares .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-categoria-lugares .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
.pg-categoria-lugares .propagandas a {
  display: block;
  width: 100%;
  max-width: 345px;
  margin: 25px auto; }
.pg-categoria-lugares .form-pesquisa .form-group {
  display: inline-block; }
  .pg-categoria-lugares .form-pesquisa .form-group .text-pesquisa {
    width: 180px;
    height: 35px;
    display: inline-block;
    border: solid 1px #08273B;
    background-color: #7a8a99;
    border-radius: 0;
    color: #fff;
    margin: 10px 20px; }
  .pg-categoria-lugares .form-pesquisa .form-group input,
  .pg-categoria-lugares .form-pesquisa .form-group textarea {
    color: #fff; }
  .pg-categoria-lugares .form-pesquisa .form-group ::-webkit-input-placeholder {
    color: #fff !important;
    font-style: italic; }
  .pg-categoria-lugares .form-pesquisa .form-group :-moz-placeholder {
    color: #fff !important;
    font-style: italic; }
  .pg-categoria-lugares .form-pesquisa .form-group ::-moz-placeholder {
    color: #fff !important;
    font-style: italic; }
  .pg-categoria-lugares .form-pesquisa .form-group :-ms-input-placeholder {
    color: #fff !important;
    font-style: italic; }
.pg-categoria-lugares .form-pesquisa p {
  display: inline-block !important;
  margin: 0 !important; }
.pg-categoria-lugares .form-pesquisa .botao-search {
  border: 0;
  background: transparent;
  font-size: 25px;
  color: #1B3C59; }
.pg-categoria-lugares .imagens ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0; }
  .pg-categoria-lugares .imagens ul li {
        display: inline-block;
    width: 100%;
    max-width: 348px;
    min-height: 140px;
    margin: 15px 15px; }
    .pg-categoria-lugares .imagens ul li a .bg-lugar {
     width: 100%;
     min-height: 185px;
     background-position: center !important;
     background-size: cover !important; }
    .pg-categoria-lugares .imagens ul li i {
      font-size: 17px;
      font-family: "Open Sans";
      color: #1B3C59;
      display: block;
      text-align: left;
      font-weight: 600; }
.pg-categoria-lugares p {
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 20px 0 0 20px;
  color: #1B3C59; }
.pg-categoria-lugares span {
  color: #1B3C59;
  margin: 20px;
  font-family: "Open Sans";
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700; }
.pg-categoria-lugares .postagem {
  margin: 20px 0;
  /*max-width: 600px;*/
  padding-left: 20px;
  width: 100%; }
  .pg-categoria-lugares .postagem .post {
    min-height: 500px; }
    .pg-categoria-lugares .postagem .post .bg-post {
      width: 100%;
      height: 290px;
      background-size: cover !important;
      background-position: center !important; }
    .pg-categoria-lugares .postagem .post .caixa {
      text-align: right; }
      .pg-categoria-lugares .postagem .post .caixa .posicao {
        position: relative;
        text-align: right; }
        .pg-categoria-lugares .postagem .post .caixa .posicao span {
          color: #1b3c59;
          font-style: italic;
          font-size: 17px;
          margin: 20px 0 0;
          display: block; }
        .pg-categoria-lugares .postagem .post .caixa .posicao .info {
          text-transform: uppercase;
          color: #1b3c59;
          font-weight: bold;
          font-size: 25px; }
        .pg-categoria-lugares .postagem .post .caixa .posicao a {
          display: block;
          border: solid 4px #1B3C59;
          width: 145px;
          height: 45px;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          color: #1B3C59;
          position: absolute;
          right: 0;
          margin: 10px 0;
          font-size: 17px;
          font-weight: 500; }
      .pg-categoria-lugares .postagem .post .caixa .texto {
        padding: 20px;
        margin: 0;
        font-size: 17px;
        font-family: 'Open Sans';
        color: #1b3c59;
        text-align: left !important; }

/*P├üGINA GALERIA LUGARES*/
.pg-galeria-lugares .form-arquivo-blog {
  background: #60BFBF;
  min-height: 225px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg-galeria-lugares .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-galeria-lugares .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-galeria-lugares .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
.pg-galeria-lugares .propagandas a {
  display: block;
  width: 100%;
  max-width: 345px;
  margin: 25px auto; }
.pg-galeria-lugares .form-pesquisa .form-group {
  display: inline-block; }
  .pg-galeria-lugares .form-pesquisa .form-group .text-pesquisa {
    width: 180px;
    height: 35px;
    display: inline-block;
    border: solid 1px #08273B;
    background-color: #7a8a99;
    border-radius: 0;
    color: #fff;
    margin: 10px 20px; }
  .pg-galeria-lugares .form-pesquisa .form-group input,
  .pg-galeria-lugares .form-pesquisa .form-group textarea {
    color: #fff; }
  .pg-galeria-lugares .form-pesquisa .form-group ::-webkit-input-placeholder {
    color: #fff !important;
    font-style: italic; }
  .pg-galeria-lugares .form-pesquisa .form-group :-moz-placeholder {
    color: #fff !important;
    font-style: italic; }
  .pg-galeria-lugares .form-pesquisa .form-group ::-moz-placeholder {
    color: #fff !important;
    font-style: italic; }
  .pg-galeria-lugares .form-pesquisa .form-group :-ms-input-placeholder {
    color: #fff !important;
    font-style: italic; }
.pg-galeria-lugares .mapa {
    width: 100%;
    height: 270px;
    background-size: cover !important;
    background-position: center !important;
    padding: 20px 0 20px 20px; }
  .pg-galeria-lugares .mapa iframe {
    width: 100% !important;
    height: 230px !important; }
.pg-galeria-lugares .imagens ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0; }
  .pg-galeria-lugares .imagens ul li {
    display: inline-block;
    width: 100%;
    max-width: 348px;
    min-height: 240px;
    margin: 15px 15px;
    vertical-align: top; }
    .pg-galeria-lugares .imagens ul li a .bg-lugar {
         width: 100%;
    min-height: 185px;
    background-position: center !important;
    background-size: cover !important; }
    .pg-galeria-lugares .imagens ul li i {
      font-size: 17px;
      font-family: "Open Sans";
      color: #1B3C59;
      display: block;
      text-align: left;
      font-weight: 600; }
      .pg-galeria-lugares .post {
    min-height: 500px;
    padding-left: 20px;
    padding-top: 20px; }
    .pg-galeria-lugares .post .bg-post {
      width: 100%;
      height: 290px;
      background-size: cover !important;
      background-position: center !important; }
    .pg-galeria-lugares .post .caixa {
      text-align: right; }
      .pg-galeria-lugares .post .caixa .posicao {
        position: relative;
        text-align: right; }
        .pg-galeria-lugares .post .caixa .posicao span {
          color: #1b3c59;
          font-style: italic;
          font-size: 17px;
          margin: 20px 0 0;
          display: block; }
        .pg-galeria-lugares .post .caixa .posicao .info {
          text-transform: uppercase;
          color: #1b3c59;
          font-weight: bold;
          font-size: 25px; }
        .pg-galeria-lugares .post .caixa .posicao a {
          display: block;
          border: solid 4px #1B3C59;
          width: 145px;
          height: 45px;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          color: #1B3C59;
          position: absolute;
          right: 0;
          margin: 10px 0;
          font-size: 17px;
          font-weight: 500;
          line-height: 18px; }
      .pg-galeria-lugares .post .caixa .texto {
        padding: 20px;
        margin: 0;
        font-size: 17px;
        font-family: 'Open Sans';
        color: #1b3c59;
        text-align: left !important; }
         .pg-galeria-lugares .post .bg-lugar {
          width: 100%;
          height: 290px;
          background-size: cover !important;
          background-position: center !important;
        }
.pg-galeria-lugares p {
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 20px 0 0 20px;
  color: #1B3C59; }
.pg-galeria-lugares span {
  color: #1B3C59;
  margin: 20px;
  font-family: "Open Sans";
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700; }
.pg-galeria-lugares .postagem {
  margin: 20px 0;
  /*max-width: 600px;*/
  padding-left: 20px;
  width: 100%; }
  .pg-galeria-lugares .postagem .post {
    min-height: 500px; }
    .pg-galeria-lugares .postagem .post .bg-post {
      width: 100%;
      height: 290px;
      background-size: cover !important;
      background-position: center !important; }
    .pg-galeria-lugares .postagem .post .caixa {
      text-align: right; }
      .pg-galeria-lugares .postagem .post .caixa .posicao {
        position: relative; }
        .pg-galeria-lugares .postagem .post .caixa .posicao span {
          color: #1b3c59;
          font-style: italic;
          font-size: 17px;
          margin: 20px 20px 0;
          display: block; }
        .pg-galeria-lugares .postagem .post .caixa .posicao .info {
          text-transform: uppercase;
          color: #1b3c59;
          font-weight: bold;
          font-size: 25px;
          text-align: center; }
        .pg-galeria-lugares .postagem .post .caixa .posicao a {
          display: block;
          border: solid 4px #1B3C59;
          width: 145px;
          height: 45px;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          color: #1B3C59;
          position: absolute;
          right: 0;
          margin: 10px;
          font-size: 17px; }
      .pg-galeria-lugares .postagem .post .caixa .texto {
        padding: 20px;
        margin: 0;
        font-size: 17px;
        font-family: 'Open Sans';
        color: #1b3c59;
        text-align: left !important; }

/*P├üGINA TRIP DE CASAL*/
.pg-tripdecasal .form-arquivo-blog {
  background: #60BFBF;
  height: 190px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg-tripdecasal .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-tripdecasal .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-tripdecasal .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
.pg-tripdecasal .sobre {
  font-family: 'Open Sans';
  font-size: 17px;
  color: #1B3C59;
  padding: 20px 0 20px 20px;
  min-height: 190px;
  margin: 0; }
.pg-tripdecasal .imagens {
  position: relative;
  background-color: #1B3C59;
  min-height: 870px;
  padding: 80px 0 30px 0; }
  .pg-tripdecasal .imagens .pontilhado {
    background: url(../img/pontilhado.png);
    width: 82px;
    max-width: 82px;
    position: absolute;
    left: 6px; }
  .pg-tripdecasal .imagens p {
    margin: 0 0 10px;
    color: #fff;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 160px;
    top: 20px; }
  .pg-tripdecasal .imagens ul {
    list-style: none;
    text-align: center;
    padding: 50px 50px;
    margin: 0; }
    .pg-tripdecasal .imagens ul li {
      display: inline-block;
      width: 100%;
      max-width: 150px;
      min-height: 150px;
      margin: 15px 15px; }
      .pg-tripdecasal .imagens ul li a .bg-lugar {
        width: 100%;
        min-height: 150px;
        background-position: center !important;
        background-size: cover !important; }

/*P├üGINA VIAJANDO NA M├ÜSICA*/
.pg-musica .close span {
  font-size: 40px !important;
  font-weight: bold !important; }
.pg-musica .form-arquivo-blog {
  background: #60BFBF;
  height: 190px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg-musica .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-musica .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-musica .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
.pg-musica .sobre {
  font-family: 'Open Sans';
  font-size: 17px;
  color: #1B3C59;
  padding: 20px 0 20px 20px;
  min-height: 190px;
  margin: 0; }
.pg-musica .bg-musica {
  width: 100%;
  height: 330px;
  margin: 20px;
  max-width: 740px;
  background-position: center !important;
  background-size: cover !important; }
.pg-musica .link-facaparte {
  background: transparent;
  border: solid 4px #1B3C59;
  width: 320px;
  height: 45px;
  font-weight: bold;
  margin: 25px 0;
  border-radius: 9px;
  position: absolute;
  right: 0;
  color: #1B3C59;
  text-align: center;
  display: block;
  line-height: 37px; }
.pg-musica .conteudo {
  margin-top: 100px; }
  .pg-musica .conteudo p {
    font-size: 17px;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 20px 0 0 20px;
    color: #1B3C59; }
  .pg-musica .conteudo span {
    color: #1B3C59;
    margin: 20px;
    font-family: "Open Sans";
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 700; }
  .pg-musica .conteudo .parceiros {
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 50px 0; }
    .pg-musica .conteudo .parceiros li {
      display: inline-block;
      width: 220px;
      text-align: center;
      margin: 10px; }
      .pg-musica .conteudo .parceiros li a {
        display: block;
        width: 100%;
        text-align: center; }
      .pg-musica .conteudo .parceiros li i {
        font-size: 19px;
        font-family: "Open Sans";
        color: #1B3C59;
        display: block;
        text-align: left; }

/*MODAL DE PARA SE ESCREVER / BANDA */
.pg-musica .modal-dialog-lg {
  max-width: 900px !important;
  margin: 50px auto 0; }
.pg-musica .modal-body {
  background-color: #fff;
  border-left: 10px solid #1b3c59; }
  .pg-musica .modal-body p {
    margin: 10px;
    font-size: 20px;
    font-family: 'Open Sans';
    display: inline-block;
    color: #1b3c59;
    font-weight: 600;
    text-transform: uppercase; }
  .pg-musica .modal-body .info {
    color: #1b3c59;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    display: block;
    padding: 10px; }
  .pg-musica .modal-body .form-banda .form-group {
    height: 40px;
    position: relative;
    margin: 100px 0; }
    .pg-musica .modal-body .form-banda .form-group input {
      border: none;
      border-radius: 0;
      height: 45px;
      font-size: 17px;
      padding: 5px;
      outline: none !important;
      border: 1px solid #1b3c59;
      z-index: 1; }
      .pg-musica .modal-body .form-banda .form-group input:focus {
        border: none;
        outline: none !important;
        box-shadow: none;
        border: 1px solid #1b3c59; }
    .pg-musica .modal-body .form-banda .form-group textarea {
      max-height: 160px !important;
      height: 160px !important;
      /* max-width: 568px !important; */
      width: 100% !important;
      font-size: 17px;
      padding: 5px;
      border: 1px solid #1b3c59;
      border-radius: 0; }
    .pg-musica .modal-body .form-banda .form-group i {
      z-index: 999999;
      position: absolute;
      top: -48px;
      display: block;
      background: #fff;
      width: 115px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #1b3c59;
      border-left: 1px solid #1b3c59;
      border-right: 1px solid #1b3c59;
      margin-bottom: -4px;
      font-size: 26px;
      color: #1b3c59; }
  .pg-musica .modal-body .form-banda .botao-enviar {
    background: transparent;
    border: solid 4px #1B3C59;
    width: 150px;
    height: 50px;
    font-weight: bold;
    margin: 25px 0;
    border-radius: 9px;
    right: 130px;
    color: #1B3C59; }
    .pg-musica .modal-body .form-banda .botao-enviar:hover {
      background: #1B3C59;
      color: #fff; }

/*P├üGINA PARCEIROS*/
.pg-parceiros .form-arquivo-blog {
  background: #60BFBF;
  height: 190px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg-parceiros .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-parceiros .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-parceiros .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
.pg-parceiros .conteudo p {
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 20px 0 0 20px;
  color: #1B3C59; }
.pg-parceiros .conteudo span {
  color: #1B3C59;
  margin: 20px;
  font-family: "Open Sans";
  font-size: 29px;
  text-transform: uppercase;
  font-weight: 700; }
.pg-parceiros .conteudo .parceiros {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 50px 0; }
  .pg-parceiros .conteudo .parceiros li {
    display: inline-block;
    width: 220px;
    text-align: center;
    margin: 10px; }
    .pg-parceiros .conteudo .parceiros li a {
      display: block;
      width: 100%;
      text-align: center; }

/*P├üGINA DE CONTATO*/
.pg-contato .form-arquivo-blog {
  display: none; }
.pg-contato .correcao {
  padding: 5px; }
.pg-contato .bg-contato {
  width: 100%;
  height: 340px;
  background-position: center !important;
  background-size: cover !important;
  margin: 20px 0 0; }
.pg-contato .info {
  position: relative;
  min-height: 250px;
  width: 100%;
  background: #60BFBF;
  padding: 20px; }
  .pg-contato .info span {
    color: #1B3C59;
    font-weight: 100;
    font-family: "Open Sans";
    font-size: 17px;
    font-style: italic; }
  .pg-contato .info p {
    color: #1B3C59;
    font-family: "Open Sans";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600; }
.pg-contato .redes-sociais {
  top: 0;
  background: transparent;
  right: 80px;
  position: absolute; }
  .pg-contato .redes-sociais a {
    text-decoration: none;
    color: #fff;
    font-size: 46px;
    margin: 5px;
    outline: none; }
    .pg-contato .redes-sociais a:hover {
      color: #1B3C59; }
.pg-contato .contato span {
  color: #1B3C59;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: italic; }
.pg-contato .contato p {
  color: #1B3C59;
  font-family: "Open Sans";
  font-size: 25px;
  text-transform: uppercase; }
.pg-contato .form {
  padding: 5px;
  margin: 50px 0;
  width: 100%;
  max-width: 520px;
  position: relative;
  min-height: 360px; }
  .pg-contato .form span {
    color: #1B3C59;
    font-weight: 100;
    font-family: "Open Sans";
    font-size: 17px;
    font-style: italic;
    font-weight: 400; }
  .pg-contato .form p {
    color: #1B3C59;
    font-family: "Open Sans";
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700; }
  .pg-contato .form .form-group input {
    border: solid 1px #1B3C59;
    border-radius: 0;
    background-color: #98a7b4; }
  .pg-contato .form .form-group textarea {
    border: solid 1px #1B3C59;
    border-radius: 0;
    background-color: #98a7b4;
    width: 100%;
    min-height: 130px;
    max-height: 130px;
    max-width: 510px;
    min-width: 510px;
    padding: 10px; }
  .pg-contato .form .form-group input,
  .pg-contato .form .form-group textarea {
    color: #fff; }
  .pg-contato .form .form-group ::-webkit-input-placeholder {
    color: #fff !important;
    font-style: italic;
    font-weight: 100; }
  .pg-contato .form .form-group :-moz-placeholder {
    color: #fff !important;
    font-style: italic;
    font-weight: 100; }
  .pg-contato .form .form-group ::-moz-placeholder {
    color: #fff !important;
    font-style: italic;
    font-weight: 100; }
  .pg-contato .form .form-group :-ms-input-placeholder {
    color: #fff !important;
    font-style: italic;
    font-weight: 100; }
  .pg-contato .form .botao {
    background: transparent;
    border: solid 4px #1B3C59;
    width: 150px;
    height: 50px;
    font-weight: 600;
    margin: 25px 0;
    border-radius: 9px;
    position: absolute;
    right: 0;
    color: #1B3C59;
    font-size: 18px; }

/*P├üGINA DE ├üLBUNS*/
.pg-albuns .bg-fundo {
  width: 100%;
  background-color: transparent;
  min-height: 600px;
  padding: 65px 0 70px;
  position: relative; }
  .pg-albuns .bg-fundo .close {
    position: absolute;
    right: 0;
    color: #fff !important;
    z-index: 1;
    font-size: 41px;
    opacity: 1; }
    .pg-albuns .bg-fundo .close:hover {
      color: #1B3C59 !important; }
  .pg-albuns .bg-fundo .carrossel .item {
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 0 auto; }
    .pg-albuns .bg-fundo .carrossel .item .foto {
      max-width: 800px;
      height: 450px;
      background-position: center !important;
      background-size: cover !important;
      position: relative; }
      .pg-albuns .bg-fundo .carrossel .item .foto .descricao {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: 560px;
        min-height: 40px;
        background: rgba(0, 0, 0, 0.68);
        padding: 15px 0px 0; }
        .pg-albuns .bg-fundo .carrossel .item .foto .descricao p {
          color: #fff;
          font-size: 20px;
          font-style: italic;
          font-weight: 100;
          text-align: center; }
     .pg-albuns .bg-fundo .carrossel .item .areaBtnCarrossel {
      height: 100%;
      position: relative;
      width: 100%; }
      .pg-albuns .bg-fundo .carrossel .item .areaBtnCarrossel button {
        position: absolute;
        top: 0;
        height: 100%;
        width: 75px;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 60px;
        -webkit-transition: background .2s ease;
         -o-transition: background .2s ease;
         transition: background .2s ease; }
      .pg-albuns .bg-fundo .carrossel .item .areaBtnCarrossel button:hover {
        background: rgba(0,0,0,.5);}
      .pg-albuns .bg-fundo .carrossel .item .areaBtnCarrossel .btnPrev {
        left: 0; }
      .pg-albuns .bg-fundo .carrossel .item .areaBtnCarrossel .btnNext {
        right: 0; }
  .pg-albuns .bg-fundo .carrossel-albuns {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative; }
    .pg-albuns .bg-fundo .carrossel-albuns .owl-Carousel .item {
      max-width: 250px;
      width: 100%;
      height: 150px;
      margin: 0 auto; }
      .pg-albuns .bg-fundo .carrossel-albuns .owl-Carousel .item .foto-carrossel {
        width: 100%;
        height: 150px;
        background-position: center !important;
        background-size: cover !important;
        display: block;
        cursor: pointer; }
    .pg-albuns .bg-fundo .carrossel-albuns .navegacaoalbunsFrent {
      background: transparent;
      border: 0;
      color: #fff;
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: -60px;
      transform: translateY(-50%); }
    .pg-albuns .bg-fundo .carrossel-albuns .navegacaoalbunsTras {
      background: transparent;
      border: 0;
      color: #fff;
      font-size: 60px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      right: -60px; }
.pg-albuns .titulo {
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  margin: 10px 100px 10px; }
.pg-albuns .outros-albuns ul {
  text-align: center;
  margin: 0;
  padding: 0; }
  .pg-albuns .outros-albuns ul li {
    width: 100%;
    max-width: 270px;
    height: 215px;
    display: inline-block;
    margin: 20px 25px;
    vertical-align: top;
    min-height: 190px; }
    .pg-albuns .outros-albuns ul li a .album {
      width: 100%;
      height: 170px;
      background-position: center !important;
      background-size: cover !important; }
    .pg-albuns .outros-albuns ul li p {
      color: #fff;
      font-size: 17px;
      font-style: italic;
      font-weight: 100;
      text-align: left !important; }

/*P├üGINA DE INSTAGRAM*/
.pg-instagram .titulo {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  margin: 10px 100px 10px; }
.pg-instagram .bg-fundo {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.86);
  min-height: 600px;
  padding: 65px 0 70px; }
  .pg-instagram .bg-fundo .carrossel .item {
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 0 auto; }
    .pg-instagram .bg-fundo .carrossel .item .fotoinstagramdestaque {
      max-width: 800px;
      height: 450px;
      background-position: center !important;
      background-size: cover !important;
      position: relative; }
      .pg-instagram .bg-fundo .carrossel .item .fotoinstagramdestaque .descricao {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: 560px;
        min-height: 40px;
        background: rgba(0, 0, 0, 0.68);
        padding: 15px 0px 0; }
        .pg-instagram .bg-fundo .carrossel .item .fotoinstagramdestaque .descricao p {
          color: #fff;
          font-size: 20px;
          font-style: italic;
          font-weight: 100;
          text-align: center; }
  .pg-instagram .bg-fundo .carrossel-instagram {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative; }
    .pg-instagram .bg-fundo .carrossel-instagram .owl-Carousel .item {
      max-width: 250px;
      width: 100%;
      height: 150px;
      margin: 0 auto; }
      .pg-instagram .bg-fundo .carrossel-instagram .owl-Carousel .item .fotoinstagram {
        width: 100%;
        height: 150px;
        background-position: center !important;
        background-size: cover !important; }
    .pg-instagram .bg-fundo .carrossel-instagram .navegacaoinstagramFrent {
      background: transparent;
      border: 0;
      color: #fff;
      font-size: 100px;
      position: absolute;
      top: 55px;
      left: -60px; }
    .pg-instagram .bg-fundo .carrossel-instagram .navegacaoinstagramTras {
      background: transparent;
      border: 0;
      color: #fff;
      font-size: 100px;
      position: absolute;
      top: 55px;
      right: -60px; }

/*P├üGINA PLAYLISTS*/
.pg-playlist .form-arquivo-blog {
  background: #60BFBF;
  height: 190px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 27px 0 0 0; }
  .pg-playlist .form-arquivo-blog p {
    font-size: 17px;
    margin: 0; }
  .pg-playlist .form-arquivo-blog span {
    display: block;
    font-size: 20px;
    text-transform: uppercase; }
  .pg-playlist .form-arquivo-blog .criterio {
    margin: 20px 0 0 0;
    padding: 0 0 0 10px;
    height: 35px;
    border: solid 1px #08273B;
    background-color: #397d87;
    display: block;
    margin: 10px auto 0; }
  .pg-playlist .form-arquivo-blog input,
  .pg-playlist .form-arquivo-blog textarea {
    color: #D6D6D6; }
  .pg-playlist .form-arquivo-blog ::-webkit-input-placeholder {
    color: #D6D6D6 !important;
    font-style: italic; }
  .pg-playlist .form-arquivo-blog :-moz-placeholder {
    color: #D6D6D6 !important;
    font-style: italic; }
  .pg-playlist .form-arquivo-blog ::-moz-placeholder {
    color: #D6D6D6 !important;
    font-style: italic; }
  .pg-playlist .form-arquivo-blog :-ms-input-placeholder {
    color: #D6D6D6 !important;
    font-style: italic; }
.pg-playlist .propagandas a {
  display: block;
  width: 100%;
  max-width: 345px;
  margin: 25px auto; }
.pg-playlist .form-pesquisa {
  margin-bottom: 30px;
  text-align: left; }
  .pg-playlist .form-pesquisa .form-group {
    display: inline-block; }
    .pg-playlist .form-pesquisa .form-group .text-pesquisa {
      width: 250px;
      height: 35px;
      display: inline-block;
      border: solid 1px #08273B;
      background-color: #7a8a99;
      border-radius: 0;
      color: #fff;
      margin: 10px 20px; }
    .pg-playlist .form-pesquisa .form-group input,
    .pg-playlist .form-pesquisa .form-group textarea {
      color: #fff; }
    .pg-playlist .form-pesquisa .form-group ::-webkit-input-placeholder {
      color: #fff !important;
      font-style: italic; }
    .pg-playlist .form-pesquisa .form-group :-moz-placeholder {
      color: #fff !important;
      font-style: italic; }
    .pg-playlist .form-pesquisa .form-group ::-moz-placeholder {
      color: #fff !important;
      font-style: italic; }
    .pg-playlist .form-pesquisa .form-group :-ms-input-placeholder {
      color: #fff !important;
      font-style: italic; }
.pg-playlist p {
  font-size: 17px;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 20px 0 0 20px;
  color: #1B3C59; }
.pg-playlist span {
  color: #1B3C59;
  margin: 20px;
  font-family: "Open Sans";
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700; }
.pg-playlist .postagem {
  margin: 20px 0;
  /*max-width: 600px;*/
  padding-left: 20px;
  width: 100%; }
  .pg-playlist .postagem p {
    font-size: 17px;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 20px 0 0 20px;
    color: #1B3C59; }
  .pg-playlist .postagem span {
    color: #1B3C59;
    margin: 20px;
    font-family: "Open Sans";
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700; }
  .pg-playlist .postagem .post {
    margin-top: 50px;
    min-height: 500px; }
    .pg-playlist .postagem .post .bg-post {
      width: 100%;
      height: 290px;
      background-size: cover !important;
      background-position: center !important; }
    .pg-playlist .postagem .post .caixa {
      text-align: right; }
      .pg-playlist .postagem .post .caixa .posicao {
        position: relative; }
        .pg-playlist .postagem .post .caixa .posicao .trilha {
          color: #1b3c59;
          font-style: italic;
          font-size: 20px;
          margin: 20px 20px 0;
          display: block;
          font-weight: 400; }
        .pg-playlist .postagem .post .caixa .posicao .info {
          text-transform: uppercase;
          color: #1b3c59;
          font-weight: bold;
          font-size: 25px;
          text-align: center;
          margin-bottom: 20px; }
        .pg-playlist .postagem .post .caixa .posicao .bg-album {
          width: 128px;
          height: 140px;
          background-size: cover !important;
          background-position: center !important;
          margin: 0 auto; }
      .pg-playlist .postagem .post .caixa .texto {
        padding: 20px;
        margin: 0;
        font-size: 30px;
        font-family: 'Open Sans';
        color: #1b3c59;
        text-align: left !important;
        font-style: italic;
        font-weight: 100;
        line-height: 25px; }
      .pg-playlist .postagem .post .caixa iframe {
        display: block;
        margin: 0 auto; }

/*P├üGINA DE PESQUISA*/
#result-pesquisa {
  text-transform: uppercase;
  color: #1b3c59;
  font-weight: bold;
  font-size: 30px;
  text-align: center; }
  #result-pesquisa span {
    font-weight: 100; }

#result-pesquisa2 {
  display: block;
  width: 100%; }
  #result-pesquisa2 p {
    color: #1b3c59;
    text-align: center;
    font-size: 50px;
    /* width: 100%; */
    width: 773px;
    margin: auto; }

.botoes-pagina-pesquisa {
  position: inherit !important;
  display: inline-block !important;
  width: 243px !important; }

#postagem-pesquisa {
  max-width: inherit !important;
  margin: 0 !important; }

/* @MEDIA */
@media (max-width: 2560px) {
  .topo .bg-header {
    height: 815px; } }
@media (max-width: 1440px) {
  .topo .bg-header {
    height: 815px; } }
@media (max-width: 1024px) {
  .topo .bg-menu .posicao .pontilhado {
    width: 55px; }

  .newsletter .form .formError .formErrorContent {
    right: 60% !important; }

  .videos .carrossel .owl-Carousel .item iframe {
    width: 250px; }

  .pg-lugares .imagens ul {
    margin: 0; } }
@media (max-width: 768px) {
  .pg-contato .form .form-group textarea {
    min-width: inherit; }

  .pg-inicial .postagem .post .caixa .posicao .info {
    text-align: center !important;
    padding: 5px; }

  .newsletter .form .formError .formErrorContent {
    position: inherit !important;
    margin: 0 auto; }

  .pg-quem-faz .postagem .post .caixa .posicao .info {
    text-align: center; }

  .topo .bg-menu .posicao .pontilhado {
    width: 82px;
    min-height: 664px; }

  .pg-lugares .postagem {
    max-width: initial;
    margin: 20px  0; }

  .pg-categoria-lugares .postagem {
    margin: 0; }

  .pg-galeria-lugares .postagem {
    margin: 0; }
    .pg-galeria-lugares .post {
    padding-left: 0px;
    padding: 0 5px; }
    .pg-galeria-lugares .post .caixa .posicao a{
      position: initial;
      right: initial;
      margin: 10px auto 0;
    }
  .pg-musica .conteudo .parceiros li a img{
    display: block;
    margin: 0 auto;
  }
  .pg-inicial .postagem .post .caixa .posicao a, .pg-lugares .postagem .post .caixa .posicao a, .pg-categoria-lugares .postagem .post .caixa .posicao a, .pg-galeria-lugares .postagem .post .caixa .posicao a {
    margin: 0 auto;
    position: initial !important; }

  .pg-inicial .postagem .post .caixa .posicao span, .pg-categoria-lugares .postagem .post .caixa .posicao span, .pg-galeria-lugares .postagem .post .caixa .posicao span {
    text-align: center; }

  .pg-lugares .postagem .post .caixa .posicao span {
    text-align: center !important; }

  .topo .bg-menu .busca-site {
    margin: 50px 0 0!important; }
    .pg-categoria-lugares .imagens ul li {
      margin: 15px 0px!important;
    }
    .pg-galeria-lugares .imagens ul li{
      margin: 15px 0px!important;
    }
    .pg-lugares .imagens ul li {
      margin: 15px 0px!important;
    }
    .pg-categoria-lugares .imagens ul li {
      margin: 15px 0px!important;
    }
    .pg-galeria-lugares .imagens ul li {
      margin: 15px 0px;
    }
    .pg-tripdecasal .imagens ul li {
      margin: 15px 0px!important;
    }
  .topo .bg-header {
    height: 450px; }

  .videos .bg {
    width: 95%;
    min-height: 50px; }

  .newsletter .redes-sociais-footer {
    max-width: 330px;
    text-align: center; }

  .newsletter .redes-sociais-footer p {
    max-width: initial !important;
    padding: 5px; }

  .newsletter .form {
    min-height: 320px;
    padding: 5px; }

  .newsletter .form .botao {
    position: initial;
    display: block;
    margin: 25px auto; }

  .videos .carrossel .owl-Carousel .item iframe {
    width: 300px; }

  .pg-postagem .postagem .post .caixa .pontilhado-postagem {
    width: 100%;
    max-width: initial; }

  .pg-quem-faz .postagem .post .caixa .pontilhado-postagem {
    width: 100%;
    max-width: initial; }

  .pg-postagem .postagem .post .caixa .posicao span {
    text-align: center; }

  .pg-quem-faz .postagem .post .caixa .posicao span {
    text-align: center; }

  .pg-quem-faz .postagem {
    max-width: initial;
    margin: 0; }

  .pg-tripdecasal .imagens p {
    position: initial;
    text-align: center;
    padding: 20px 0 0; }

  .pg-postagem .postagem {
    margin: initial !important;
    max-width: initial !important;
    width: initial !important; }

  .pg-contato .form .botao {
    position: initial; }

  .pg-contato .redes-sociais {
    right: 60px; }

  .pg-musica .bg-musica, .pg-playlist .postagem {
    margin: 0; }

  .pg-musica .conteudo p, .pg-categoria-lugares p, .pg-galeria-lugares p {
    text-align: center;
    margin: 0; }

  .pg-musica .conteudo span, .pg-categoria-lugares span, .pg-galeria-lugares span, .pg-categoria-lugares .imagens ul li i, .pg-galeria-lugares .imagens ul li i {
    text-align: center;
    margin: 0;
    display: block; }

  .pg-musica .link-facaparte {
    margin: 20px auto;
    position: inherit;
    width: 306px;
    height: 50px; }

  .pg-categoria-lugares .imagens ul, .pg-galeria-lugares .imagens ul {
    margin: 0; }

  .pg-categoria-lugares .form-pesquisa .form-group, .pg-galeria-lugares .form-pesquisa .form-group {
    display: block; }

  .pg-categoria-lugares .form-pesquisa .form-group .text-pesquisa, .pg-galeria-lugares .form-pesquisa .form-group .text-pesquisa {
    margin: 0 auto;
    display: block; }

  .pg-albuns .bg-fundo .carrossel-albuns .owl-Carousel .item {
    max-width: 200px; }

  .pg-galeria-lugares .mapa {
    /*margin: 20px auto; */
  padding:20px 10px!important;
  }

  .pg-albuns .outros-albuns ul li {
    margin: 20px 0; }

  .pg .botao-search {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 50px; }

  .pg-tripdecasal .imagens {
    min-height: 380px; }

  .topo .bg-header #frase {
    margin: 0;
    padding: 5px; }

  .pg-lugares .postagem .post .caixa .posicao .info {
    text-align: center; }

  .modal-topo i {
    text-align: center;
    display: block; }

  .pg-postagem .postagem .post .caixa .posicao .in-fo {
    padding: 10px; }

    .pg-inicial .postagem {
      padding-left: 0px!important;
      padding: 0 10px!important;
    }
    .pg-postagem .postagem {
      padding-left: 0px!important;
      padding: 0 10px!important;
    }
    .pg-quem-faz .postagem {
      padding-left: 0px!important;
      padding: 0 10px!important;
    }
    .pg-lugares .postagem {
      padding-left: 0px!important;
      padding: 0 10px!important;
    }
    .pg-categoria-lugares .postagem {
      padding-left: 0px!important;
      padding: 0 10px!important;
    }
    .pg-galeria-lugares .postagem {
      padding-left: 0px!important;
      padding: 0 10px!important;
    }
    .pg-playlist .postagem {
      padding-left: 0px!important;
      padding: 0 10px!important;
    }
 }
@media (max-width: 425px) {
  .pg-parceiros .conteudo span {
    display: block;
    text-align: center; }

  .pg-parceiros .conteudo .parceiros li a img {
    margin: auto; }

  .topo .bg-menu .posicao .pontilhado {
    width: 82px;
    min-height: 275px; }

  .pg-inicial .postagem {
    width: inherit;
    margin: inherit; }

  .videos .carrossel .owl-Carousel .item iframe {
    width: 170px; }

  .pg-lugares .postagem {
    max-width: initial;
    width: inherit; }

  .pg-tripdecasal .imagens p {
    padding: 20px 0 0px 50px; }

  .pg-tripdecasal .imagens ul li {
    max-width: 235px; }

  .pg-tripdecasal .imagens ul {
    padding: 0 0 0 60px; }

  .pg-contato .redes-sociais {
    position: inherit; }

  .pg-playlist span {
    text-align: center !important;
    display: block; }

  .pg-playlist .form-arquivo-blog span {
    text-align: center !important; } }
@media (max-width: 375px) {
  .videos .carrossel .owl-Carousel .item iframe {
    width: 100%; }

  .rodape .mapa-footer .mapa, .rodape .mapa-footer span {
    text-align: center; }

  .pg-tripdecasal .imagens p {
    padding: 20px 0 0 76px;
    font-size: 18px; } }
@media (max-width: 320px) {
  .topo .bg-menu .posicao .pontilhado {
    width: 53px; }

  .topo .bg-header {
    height: 390px; }

  .videos .carrossel .owl-Carousel .item iframe {
    width: 100%; }

  .pg-tripdecasal .imagens .pontilhado {
    max-width: 30px; }

  .pg-tripdecasal .imagens p {
    padding: 20px 0 0px 50px; }

  .pg-tripdecasal .imagens ul li {
    max-width: 228px; } }
/*CORRE├ç├òES*/
.page-template-tripdecasal .propagandas {
  display: none !important; }

.AlpinePhotoTiles-link {
  display: inline !important; }

.pg-inicial .postagem .post .caixa .posicao span {
  font-weight: 400; }

.AlpinePhotoTiles-image-div {
  border: solid 5px #1B3C59; }

.modal-galeria {
  margin: 0 !important; }

/*# sourceMappingURL=site.css.map */
.widget_wysija_cont .allmsgs .updated{
  display: block !important;
    background: #fff!important;
    border: none!important;
    text-align: center!important;
}