
// VARIÁVEIS
	$bg-padrao:#1B3C59;
	$cor-texto-azul:#1B3C59;
	$verde:#60BFBF;
	$azul-calro:#60BFBF;
	$branco:#fff;

*{
	list-style: none;
	outline: none;
}
body{
	font-family: 'Open Sans';
	outline:none;
}
/*REDES SOCIAIS TOPO*/
	.redes-sociais{
		background: $verde;
		text-align: center;
		min-height:50px;
		padding: 10px 0 0 0;
		.incon{
			a{
				color: $branco;
				font-size: 30px;
				margin: 5px;
				&:hover{
					color:$bg-padrao;
				}
				i{}
			}
		}
		p{
			color: #fff;
			font-size: 18px;
			font-style: italic;
			font-weight: 100;
			line-height: 32px;
		}
	}

/*HEADER*/
	.bg-fundo-top{
		background:$bg-padrao; 
	}
	.topo{
		.bg-menu{
			background:$bg-padrao;
			color:$branco;
			position: relative;
			
			.link-logo{
				display: block;
				padding: 25px 0;
				width: 100%;
				max-width: 160px;
				text-align: center;
				margin: 0 auto;
				h1{
					display: block;
					width: 160px;
					height: 160px;
					text-indent: -9999em;
					background: url(../img/logo.png) no-repeat;
					margin: 0 auto;
				}
			}
			.posicao{				
				margin: 0 auto;
				width: 190px;
				.pontilhado{
					background: url(../img/pontilhado.png);
					width: 82px;
					max-width: 82px;
					min-height: 682px;
					position: absolute;
					left: 6px;
					top: 20px;
				}
				.navbar{
					.navbar-toggle{
						border:solid 1px $branco;
						span{
							background:$branco;
						}
					}
					.navbar-header{
						.collapse{
							ul{
								background:$bg-padrao!important;
								li{
									display:block;
									float:none!important;
								  
								    padding: 0!important;
								   

									a{
										color:$branco;
										display:block;
										font-weight:bold;
										border:solid 2px transparent;
										
										
										&:hover{
											border:solid 2px #fff;
											background-color:transparent!important;
											color:#e3ae47;
										}
										&:focus{
											border:solid 2px #fff !important;
											background:transparent!important;

										}
									}
								}
								.dropdown{

								
									.dropdown-menu{
										top: -4% !important;
										left: 100% !important;
										background-color:#10273F!important;
										a{
										 	background:#10273F!important;
										 	&:hover{
										 		color:#F8BB44!important;
										 		border:solid 2px transparent;

										 	}
										}
									}
								}
							}
						}	
					}
				}
			}
			.busca-site{
				height:50px;
				width:100%;
				position:relative;
				margin:20px 0;
				.campo-pesquisa{
					background-color:#10273F;
					border:0;
					outline:none;
					height:35px;
					width:100%;
					padding:5px;

				}
				input,
				textarea {
				    color: #88939F;
				}

				::-webkit-input-placeholder {
				   color:#88939F!important;
				   font-style:italic;
				   
				}

				:-moz-placeholder {
				   color:#88939F!important;
				   font-style:italic;
				   
				}

				::-moz-placeholder {
				   color:#88939F!important;
				   font-style:italic;  
				   
				}

				:-ms-input-placeholder {  
				   color:#88939F!important;
				   font-style:italic;  
				   
				}
				.botao-de-presquisa{
					position:absolute;
				    top: 0;
                    right: 0;
                    background:transparent;
                    height:35px;
                    border:0;
                    color:#88939f;
                    font-size:20px;
				}
			}
		}
		.altura{
			position: relative;
			overflow: hidden;
		}	
		.caixa-texto{
			min-height:200px;
			height: auto;
			background: $bg-padrao;
			width:100%;
		    max-width: 75%;
			position: absolute;
			
			left: -75%;
			z-index: 2;
			transition: All 1s ease;
			-webkit-transition: All 1s ease;
			-moz-transition: All 1s ease;
			-o-transition: All 1s ease;
			&:hover {
				left: 0;
			}
			&:before{
				content: '';
				position: absolute;

				// background: url(../img/ceta.png);
				background-position: center !important;
				background-size: cover !important;
				right: -100px;
			    width: 0;
			    height: 0;
			    border-style: solid;
			    
			    border-color: transparent transparent transparent  $bg-padrao;;
			}
			span{
				color:#fff!important;
				font-family:"Open Sans";
				font-weight:400;
				font-style:italic;
				display:block;
				font-size:20px;
			    margin: 15px 20px 0;
		  		// opacity: 0;
			   // visibility: hidden;
			}
			b{
				color: #fff!important;
				font-family: "Open Sans";
				font-size: 27px;
				font-weight: 600;
				display: block;
				width: 100%;
				max-width: 258px;
			    line-height: 25px;
			    margin: 0 20px 15px;
			    // opacity: 0;
			    // visibility: hidden;
			}
			p{
				background:transparent;
				color:#fff!important;
				font-size:13px;
				font-family:"Open Sans";
				font-weight:400;
			    padding: 0 20px;
			    margin-bottom: 20px;
			    // opacity: 0;
			    // visibility: hidden;

			}
		}
		.bg-header{
			width:100%;	
			background-size:cover!important;
			height:780px;
		    background-position: center!important;
		    position: relative;
		    z-index: 1;
		    #frase{
				position: absolute;
				bottom: 0;
				margin: 20px;
				color: #fff;
				font-size: 25px;
				font-style: italic;
				width: 100%;
				font-weight: 100;
				max-width: 360px;
				height: auto;
		    }
		}
		.legenda{
			background: #f8bb44;
			margin: 0;
			padding: 10px 0 0 25px;
			width: 100%;
			height: 57px;
			color: #1B3C59;
			font-weight: 600;
			font-size: 22px;
			line-height: 40px;
		}
		
		
	}

	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
		background:transparent!important;
	}
	/*MODAL DE INDICAÇÃO*/
		.modal-content{
			margin-top: 50px;
		}
		.modal-topo{
		    background-color: #fff;
		    border-left:10px solid #1b3c59;
		    .close{
		    	font-size:50px;
		    }

			p{
				margin: 10px;
				font-size: 20px;
				font-family: 'Open Sans';
				display: inline-block;
				color: #1b3c59;
				font-weight: 600;
				text-transform: uppercase;

			}
			.info{
				color:#1b3c59;
				font-weight:100;
				font-style:italic;
				font-size:15px;
				display: block;
				padding: 10px;	
				margin-bottom: 30px;		
			}
			i{
				color: #1b3c59;
				font-size:35px;
			}
			.form-indicacao{
				.form-group{
					height: 40px;
					position: relative;				 
			        margin: 100px 0;
					input{
						border: none;
						border-radius: 0;
						height: 45px;
						font-size: 17px;
						padding: 5px;
						outline: none !important;
						border: 1px solid #1b3c59;
						z-index: 1;
		    	        &:focus{
		    	        	border:none;
		    	        	outline: none!important;
		    	        	box-shadow:none;
		    	        	border: 1px solid #1b3c59;
		    	        }
					}					
					textarea{
						max-height: 160px !important;
						height: 160px !important;
						/* max-width: 568px !important; */
						width: 100% !important;
						font-size: 17px;
						padding: 5px;
						border: 1px solid #1b3c59;
						border-radius: 0;
					}	
					i{
						z-index: 999999;
						position: absolute;
					    top: -48px;
						display: block;
						background: #fff;
						width: 115px;
						height: 50px;
						text-align: center;
						line-height: 50px;
						border-bottom: 1px solid #fff;
						border-top: 1px solid #1b3c59;
						border-left: 1px solid #1b3c59;
						border-right: 1px solid #1b3c59;
						margin-bottom: -4px;
					    font-size: 26px;
					}			
				}
				.botao-indicacao{
					background: transparent;
					border: solid 4px #1B3C59;
					width: 150px;
					height: 50px;
					font-weight: 400;
					margin: 25px 0;
					border-radius: 9px;
					
					right: 130px;
					color: #1B3C59;
					&:hover{
						background:#1B3C59; 
						color:#fff;
					}
				}
			}

		}

/*FOOTER*/
	.videos{
		width:100%;
		min-height:250px;
		background:$bg-padrao;
		p{
			font-size:20px;
			font-weight:bold;
			font-family:'Open Sans';
			color:$branco;
			margin:20px 0;
		    padding: 0 20px;
		}
		.bg{
			background: url(../img/pontilhado.png);
			width: 82px;
			min-height: 240px;	
			margin: 20px 5px;				
		}
		.carrossel{
			margin:50px 0 25px;
		    padding: 0 20px;
			.owl-Carousel{
				
				.item{
					width:100%;
					position: relative;
					&:hover .fa{
							
							color:#fff;
							
						}
					.fa{
						position: absolute;
						top: 50%;
						font-size: 60px;
						color: transparent;
						left: 50%;
						-ms-transform: translate(-50%, -50%);					
						-webkit-transform: translate(-50%, -50%);					
						-moz-transform: translate(-50%, -50%);					
						-o-transform: translate(-50%, -50%);					
						-ms-transform: translate(-50%, -50%);					
					}
					iframe{
						width:150px;
						height:160px;
					}
				}
			}
		}
	}
	.newsletter{
		min-height:380px;
		width:100%;
		background-color:$azul-calro;
		
		.redes-sociais-footer{
			width:100%;					
			max-width: 245px;
			margin:50px auto 30px;			
			a{
				color:$branco;
				font-size:40px;
				margin:10px;
				&:hover{
					color:#1B3C59;
				}
				
			}
		
			p{
				margin: 0 auto;
				width: 100%;
				font-size:20px;
				font-family:'Open Sans';
			    max-width: 245px;
			    color:#1b3c59;
		        font-weight: 600;
				b{
					display:block;
					text-transform:uppercase;
				}
			}
		}
		.form{
			padding:50px 0 0;
			position:relative;
			.formError{
		    	position: inherit!important;
			}
			.formError .formErrorContent{
				position: absolute!important;
				bottom: -80px!important;
				right: 50%!important;
			}
			p{
				text-align:center;
				color:$branco;
				font-style:italic;
				font-weight:100;
				font-size:17px;
			}
			b{
				text-align:center;
				display:block;
				text-transform:uppercase;
				color:$branco;
				font-size:27px;
				font-weight:600;
			}
			.campo-text{
				margin:0 auto;
				padding:0 0 0 10px;	
				height:40px;
				border:solid 2px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
				width:100%;
				max-width:400px;
			}
			input,
				textarea {
				    color: #D6D6D6;
				}

				::-webkit-input-placeholder {
				   color:#D6D6D6!important;
				   font-style:italic;
				   
				}

				:-moz-placeholder {
				   color:#D6D6D6!important;
				   font-style:italic;
				   
				}

				::-moz-placeholder {
				   color:#D6D6D6!important;
				   font-style:italic;  
				   
				}

				:-ms-input-placeholder {  
				   color:#D6D6D6!important;
				   font-style:italic;  
				   
				}
			.botao{
				background:transparent;
				border:solid 4px $bg-padrao;
				width:150px;
				height:50px;
				font-weight:bold;
				margin:25px 0;
				border-radius:9px;
				position:absolute;
			    right: 130px;
			    color:$bg-padrao;
			    &:hover{
					color:#fff;
					background:#1B3C59;
			    }
			}
		}

	}
	.rodape{
		min-height:280px;
		background:$bg-padrao;
		.logo{
			.link-logo{
				display: block;
				padding: 25px 0;
				width: 100%;
				max-width: 160px;
				text-align: center;
				margin: 0 auto;
				h1{
					display: block;
					width: 160px;
					height: 160px;
					text-indent: -9999em;
					background: url(../img/logo.png) no-repeat;
					margin: 0 auto;
				}
			}
		}
		.mapa-footer{
			span{
				margin-top:25px;
				margin-bottom:25px;
				display:block;
				font-size:17px;
				font-family:'Open Sans';
				color:$branco;
				text-transform:uppercase;
				padding:0 10px;
			}
			.mapa{
				list-style:none;
				margin:0;
				padding:0;
				li{
					text-align:left;
					padding:0;
					display:inline-block;
				    margin: 15px 10px;
				    vertical-align:top;
					b{
						font-family:'Open Sans';
						color:$branco;
						margin-bottom:10px;
						display:block;
						font-size:14px;

					}
					a{
						font-family:'Open Sans';
						color:$branco;
						margin-bottom:10px;
						display:block;

					}
					small{
						color:$branco;
						font-family:'Open Sans';
						display:block;
						font-weight: 100;
						font-size:14px;	
					}
					button{
						color:$branco;
						font-family:'Open Sans';
						display:block;
						font-weight: 100;
						border:0;
						background:transparent;
						padding: 0;
						margin:0;
						outline: none;
						&:hover{
							text-decoration: underline;
						}

					}
				}
			}
		}
		.copyright{
			width:100%;
			color:$branco;
			text-align:center;
			p{
				font-size: 15px;
				margin: 0;
				font-weight: 400;
			}
		}
	}

/*PG*/
	.pg{
		.postagem .post .caixa .posicao a{
			line-height:20px;
		}
		.title-pg{

			font-size: 17px;
			font-family: "Open Sans";
			font-weight: 400;
			margin: 50px 0 0 20px;
			color: #1B3C59;
		}
		.title-pg2{		

			color: #1B3C59;
			margin: 20px;
			font-family: "Open Sans";
			font-size: 22px;
			text-transform: uppercase;
			font-weight: 700;
		}
		.botao-search{
			border: 0;
			background: transparent;
			font-size: 25px;
			color: #1B3C59;
		}	
		.form-arquivo-blog{
			background:$azul-calro;
			height:190px;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 0 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.criterio{
				margin: 20px 0 0 0;	
				padding:0 0 0 10px;	
				height:35px;
				border:solid 1px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
			}
			}
			.propagandas{

				a{
					display: block;
					width: 100%;
					max-width: 345px;				
					margin: 25px auto;
					img{

					}
				}	
			
			}
			.efeito,.link-facaparte,.botao{
				&:hover{
					color:#fff!important;
					background: #60BFBF!important;
					border-color: #60BFBF!important;
					text-decoration: none;
				}
			}
			 .form-arquivo-blog{
		 	    height: auto!important;
	 	        padding: 27px 0 20px 0!important;
			 	.criterio{
			 		line-height: 30px!important;
		 		    color: #B7B7B7!important;

			 	}

			 }
			.panel{
				background-color:transparent!important;
				border:0!important;
			}
			.panel-group{
				width: 200px!important;
				margin: 0 auto!important;	
				border: 0!important;
			}
			.panel-heading{
				padding: 0!important;

			}
			.panel-body{
				border:0!important;
				ul{
					padding: 0;
					li{
						width: 100%;
						a{
							color:#fff;
							color: #fff;
							font-size: 17px;
							font-weight: 100;
							font-style: italic;
						}
					}
				}
			}
		}

/*LINKS ATIVO*/
	.home #home{
		color:#e3ae47;
	}
	
	.blog  #blog{
		color:#e3ae47;
	}
	.single-post #blog{
		color:#e3ae47;
	}
	
	.post-type-archive-lugares #lugar{
		color:#e3ae47;
	}
	.tax-categoriaLugares #lugar{
		color:#e3ae47;
	}
	.single-lugares #lugar{
		color:#e3ae47;
	}
	.post-type-archive-galeria #galeria{
		color:#e3ae47;
	}
	.post-type-archive-galeria #fotos{
		color:#e3ae47;
	}
	.single-galeria #galeria{
		color:#e3ae47;
	}
	.single-galeria #fotos{
		color:#e3ae47;
	}
	.post-type-archive-video #video{
		color:#e3ae47;
	}
	.post-type-archive-video #galeria{
		color:#e3ae47;
	}
	.single-video #video{
		color:#e3ae47;
	}
	.single-video #galeria{
		color:#e3ae47;
	}
	.page-template-tripdecasal #tripdeCasal{
		color:#e3ae47;
	}
	.page-template-parceiros #parceiros{
		color:#e3ae47;
	}
	.post-type-archive-trilha-sonora #playlists{
		color:#e3ae47;
	}
	.page-template-musica #bandas{
		color:#e3ae47;
	}
	.post-type-archive-trilha-sonora #viajandonamusica{
		color:#e3ae47;
	}
	.page-template-musica #viajandonamusica{
		color:#e3ae47;
	}
	.page-template-contato #contato{
		color:#e3ae47;
	}
	.page-template-leticia #leticia{
		color:#e3ae47;
	}
	.page-template-bruno #bruno{
		color:#e3ae47;
	}
	.page-template-leticia #quem-faz{
		color:#e3ae47;
	}
	.page-template-bruno #quem-faz{
		color:#e3ae47;
	}
	.page-template-origemdocanal #origemdocanal{
		color:#e3ae47;
	}
	.page-template-origemdocanal #quem-faz{
		color:#e3ae47;
	}

/*PÁGINA INICIAL*/
	.pg-inicial{
		.form-arquivo-blog{
			background:$azul-calro;
			height:190px;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 0 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.criterio{
				margin: 20px 0 0 0;	
				padding:0 0 0 10px;	
				height:35px;
				border:solid 1px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
			}
			input,
			textarea {
			    color: #D6D6D6;
			}

			::-webkit-input-placeholder {
			   color:#D6D6D6!important;
			   font-style:italic;
			   
			}

			:-moz-placeholder {
			   color:#D6D6D6!important;
			   font-style:italic;
			   
			}

			::-moz-placeholder {
			   color:#D6D6D6!important;
			   font-style:italic;  
			   
			}

			:-ms-input-placeholder {  
			   color:#D6D6D6!important;
			   font-style:italic;  
			   
			}
		}
		.propagandas{

			a{
				display: block;
				width: 100%;
				max-width: 345px;				
				margin: 25px auto;
				img{

				}
			}	
		
		}
		.postagem{
			margin:20px;
			max-width: 600px;
			width: 100%;
			.post{
			    min-height: 500px;
				.bg-post{
					width:100%;
					height: 290px;				
					background-size:cover!important;
					background-position:center!important;
				}
			.caixa{
				text-align:right;
			
				.posicao{
					position:relative;
					text-align:right;
					span{
						color:#1b3c59;
						font-style:italic;
						font-size:17px;
						margin: 20px 0 0;
						display:block;
					}
						.info{
							text-transform:uppercase;
							color:#1b3c59;
							font-weight:bold;
							font-size:25px;
							
						}
						a{
							display: block;
							border: solid 4px #1B3C59;
							width: 145px;
							height: 45px;
							text-align: center;
							padding: 10px;
							border-radius: 10px;
							color: #1B3C59;
							position:absolute;
							right:0;
							margin: 10px 0;
							font-size:17px;
							font-weight:500;
						}
					}
					.texto{
						padding:20px;			
						margin:0;
						font-size:17px;					
						font-family: 'Open Sans';
						color:#1b3c59;
						text-align:left!important;
						
					}
				}	
			}

		}		
		
	}

/*PÁGINA POSTAGEM*/
	.pg-postagem{
		.form-arquivo-blog{
			background:$azul-calro;
			height:auto;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 25px 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.panel-group{
				width:100%;
			    max-width: 170px;
			    margin:0 auto;
				.panel{
					padding: 0;
					margin: 0;
					border:0;
					.panel-heading{
						padding: 0;
						margin: 0;
						.panel-title{
							.criterio{
								margin: 20px 0 0 0;	
								padding:0 0 0 10px;	
								height:35px;
								border:solid 1px #08273B;
								background-color:#397d87;
								display:block;
								margin:10px auto 0 ;
								line-height: 30px;
								color:#B7B7B7;
							}
						}
					}
				}
			}
			.panel-collapse{
				.panel-body{
					background:$azul-calro;
					border:0;
					p{
						margin:0;
						padding:0;
						font-size: 18px;
						font-family:"Open Sans";
					}
				}
			}
		}
		.propagandas{

			a{
				display: block;
				width: 100%;
				max-width: 345px;				
				margin: 25px auto;
				img{

				}
			}	
		
		}
		.postagem{
			margin:20px;
			max-width: 600px;
			width: 100%;
			.post{
			    min-height: 500px;
				
				.bg-post{
					width:100%;
					height: 290px;				
					background-size:cover!important;
					background-position:center!important;
				}
			.caixa{
				text-align:right;
				.pontilhado-postagem{					
					background: url(../img/pontilhado2.png);
					width: 100%;
					height: 65px;
					max-width: 220px;
					margin: 10px auto;
				}
				.posicao{
					position:relative;

					span{
						color:#1b3c59;
						font-style:italic;
						font-size:20px;
						margin:20px 20px 0;
						display:block;
					}
						.info{
							text-transform:uppercase;
							color:#1b3c59;
							font-weight:bold;
							font-size:30px;
							text-align:center;
						}
						.in-fo{
										
							margin: 20px 0;
							font-size:19px;					
							font-family: 'Open Sans';
							color:#1b3c59;
							text-align:left!important;
							color:red;
							font-style:italic;
						    font-weight:100;
						    padding:5px;
						}
						a{
							display: block;
							border: solid 4px #1B3C59;
							width: 145px;
							height: 45px;
							text-align: center;
							padding: 10px;
							border-radius: 10px;
							color: #1B3C59;
							position:absolute;
							right:0;
							margin:10px;
							font-size:17px;
						}
					}
					.texto{
						padding:20px;			
						margin:0;
						font-size:17px;					
						font-family: 'Open Sans';
						color:#1b3c59;
						text-align:left!important;
						
					}
				}	
			}

		}		
		
	}

/*PÁGINA QUEM FAZ*/
	.pg-quem-faz{
		.form-arquivo-blog{
			background:$azul-calro;
			height:190px;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 0 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.criterio{
				margin: 20px 0 0 0;	
				padding:0 0 0 10px;	
				height:35px;
				border:solid 1px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
			}
		}
		.propagandas{

			a{
				display: block;
				width: 100%;
				max-width: 345px;				
				margin: 25px auto;
				img{

				}
			}	
		
		}
		.postagem{
			margin:20px;
			max-width: 600px;
			width: 100%;
			.post{
				min-height: 500px;
				.bg-post{
					width:100%;
					height: 290px;				
					background-size:cover!important;
					background-position:center!important;
				}
			.caixa{
				text-align:right;
				.pontilhado-postagem{					
					background: url(../img/pontilhado2.png);
					width: 100%;
					min-height: 120px;
					max-width: 220px;
					margin: 20px auto;
				}
				.posicao{
					position:relative;

					span{
						color:#1b3c59;
						font-style:italic;
						font-size:25px;
						margin:20px 20px 0;
						display:block;
					}
						.info{
							text-transform:uppercase;
							color:#1b3c59;
							font-weight:bold;
							font-size:30px;
							text-align:right;
							padding: 5px;
						}
						.in-fo{
										
							margin: 20px 0;
							font-size:19px;					
							font-family: 'Open Sans';
							color:#1b3c59;
							text-align:left!important;
							color:red;
							font-style:italic;
						    font-weight:100;
						    padding:5px;
						}
						a{
							display: block;
							border: solid 4px #1B3C59;
							width: 145px;
							height: 45px;
							text-align: center;
							padding: 10px;
							border-radius: 10px;
							color: #1B3C59;
							position:absolute;
							right:0;
							margin:10px;
							font-size:17px;
						}
					}
					.texto{
						padding:20px;			
						margin:0;
						font-size:17px;					
						font-family: 'Open Sans';
						color:#1b3c59;
						text-align:left!important;
						
					}
				}	
			}

		}
		.origem-docanal{
			display: block;
			text-align: right;
			color:#60BFBF;
			font-size:22px;
			font-weight:600;
			margin:15px;

		}		
		
	}

/*PÁGINA LUGARES*/
	.pg-lugares{
		.modal-dialog {
				width: 100%;
				height: auto;
				padding: 0;
				background-color:rgba(0, 0, 0, 0.86);
			}

			.modal-content {
				height: auto;
				border-radius: 0;
				background: transparent;
			}
		.form-arquivo-blog{
			background:$azul-calro;
			height:190px;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 0 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.criterio{
				margin: 20px 0 0 0;	
				padding:0 0 0 10px;	
				height:35px;
				border:solid 1px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
			}
		}
		.propagandas{

			a{
				display: block;
				width: 100%;
				max-width: 345px;				
				margin: 25px auto;
				img{

				}
			}	
		
		}
		.postagem{
			margin:20px;
			max-width: 600px;
			width: 100%;
			.post{
				min-height: 500px;
				.bg-post{
					width:100%;
					height: 290px;				
					background-size:cover!important;
					background-position:center!important;
				}
			.caixa{
				text-align:right;
			
				.posicao{
					position:relative;
					span{
						color:#1b3c59;
						font-style:italic;
						font-size:17px;
						margin:20px 20px 0;
						display:block;
					}
						.info{
							text-transform:uppercase;
							color:#1b3c59;
							font-weight:bold;
							font-size:25px;
							text-align:right;
						}
						a{
							display: block;
							border: solid 4px #1B3C59;
							width: 145px;
							height: 45px;
							text-align: center;
							padding: 10px;
							border-radius: 10px;
							color: #1B3C59;
							position:absolute;
							right:0;
							margin:10px;
							font-size:17px;
						}
					}
					.texto{
						padding:20px;			
						margin:0;
						font-size:17px;					
						font-family: 'Open Sans';
						color:#1b3c59;
						text-align:left!important;
						
					}
				}	
			}

		}
		.info-fotos{
			padding: 20px;
			margin: 0;
			font-size: 17px;
			font-family: 'Open Sans';
			color: #1b3c59;
			text-align: left !important;
		}
		.botao-ver{
			display: block;
			border-bottom: solid 4px #1B3C59;
			width: 100%;
			height: 45px;
			text-align: left;
			padding: 10px;
			border-radius: 0;
			color: #1B3C59;				
			margin: 10px 0;
			font-size: 17px;
			font-weight: 500;
			line-height: 15px;
			max-width: 540px;
			
		}
		a{
			padding:5px;
		}
		.imagens{
			ul{
				list-style: none;
				text-align: center;
			    margin: 0 150px 0 0;
				padding: 0;
				li{
					display: inline-block;					
					width:100%;
					max-width: 270px;
					min-height:140px;
				    margin: 15px 15px;
					span{
						cursor:pointer;
						display: block;
						.bg-lugar{
							width:100%;
						    min-height: 150px;
							background-position: center!important;
							background-size:cover!important;
						}
					}
				}
			}
		}		
		
	}

/*PÁGINA CATEGORIA LUGARES*/
	.pg-categoria-lugares{
		.form-arquivo-blog{
			background:$azul-calro;
			min-height: 225px;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 0 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.criterio{
				margin: 20px 0 0 0;	
				padding:0 0 0 10px;	
				height:35px;
				border:solid 1px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
			}
		}
		.propagandas{

			a{
				display: block;
				width: 100%;
				max-width: 345px;				
				margin: 25px auto;
				img{

				}
			}	
		
		}
		.form-pesquisa{
			.form-group{
				display: inline-block;
				.text-pesquisa{
					width:180px;
					height: 35px;
					display: inline-block;
					border:solid 1px #08273B;
					background-color:#7a8a99;
					border-radius:0;
					color:$branco;
					margin:10px 20px;
				}				

				input,
				textarea {
				    color: #fff;
				}

				::-webkit-input-placeholder {
				   color:#fff!important;
				   font-style:italic;
				   
				}

				:-moz-placeholder {
				   color:#fff!important;
				   font-style:italic;
				   
				}

				::-moz-placeholder {
				   color:#fff!important;
				   font-style:italic;  
				   
				}

				:-ms-input-placeholder {  
				   color:#fff!important;
				   font-style:italic;  
				   
				}
			}
			p{
				display:inline-block!important;
				margin:0!important;
			}			
			.botao-search{
				border: 0;
				background: transparent;
				font-size: 25px;
				color: #1B3C59;
			}			
		}				
		.imagens{
			ul{
				list-style: none;
				text-align: center;
			    margin: 0 150px 0 0;
				padding: 0;
				li{
					display: inline-block;					
					width:100%;
					max-width: 270px;
					min-height:140px;
				    margin: 15px 15px;
					a{
						.bg-lugar{
							width:100%;
						    min-height: 150px;
							background-position: center!important;
							background-size:cover!important;						
						}

					}
					i{
						font-size:17px;
						font-family:"Open Sans";
						color:$bg-padrao;
						display:block;
						text-align:left;
						font-weight:600;
					}
				}
			}
		}	
		p{
			font-size:17px;
			font-family:"Open Sans";
			font-weight:400;
			margin:20px 0 0 20px;
			color:$bg-padrao;
		}
		span{
			color:$bg-padrao;
			margin:20px;
			font-family:"Open Sans";
			font-size:22px;
			text-transform: uppercase;
			font-weight:700;
		}
		.postagem{
			margin:20px;
			max-width: 600px;
			width: 100%;
			.post{
				min-height: 500px;
				.bg-post{
					width:100%;
					height: 290px;				
					background-size:cover!important;
					background-position:center!important;
				}
			.caixa{
				text-align:right;
			
					.posicao{
					position:relative;
					text-align:right;
					span{
						color:#1b3c59;
						font-style:italic;
						font-size:17px;
						margin: 20px 0 0;
						display:block;
					}
						.info{
							text-transform:uppercase;
							color:#1b3c59;
							font-weight:bold;
							font-size:25px;
							
						}
						a{
							display: block;
							border: solid 4px #1B3C59;
							width: 145px;
							height: 45px;
							text-align: center;
							padding: 10px;
							border-radius: 10px;
							color: #1B3C59;
							position:absolute;
							right:0;
							margin: 10px 0;
							font-size:17px;
							font-weight:500;
						}
					}
					.texto{
						padding:20px;			
						margin:0;
						font-size:17px;					
						font-family: 'Open Sans';
						color:#1b3c59;
						text-align:left!important;
						
					}
				}	
			}

		}	
		
	}

/*PÁGINA GALERIA LUGARES*/
	.pg-galeria-lugares{
		
		.form-arquivo-blog{
				background:$azul-calro;
				min-height: 225px;
				width:100%;
				color:$branco;
				text-align:center;
				padding:27px 0 0 0;
				p{
					font-size:17px;	
					margin:0;
				}
				span{
					display:block;
					font-size:20px;
					text-transform:uppercase;

				}
				.criterio{
					margin: 20px 0 0 0;	
					padding:0 0 0 10px;	
					height:35px;
					border:solid 1px #08273B;
					background-color:#397d87;
					display:block;
					margin:10px auto 0 ;
				}
			}
			.propagandas{

				a{
					display: block;
					width: 100%;
					max-width: 345px;				
					margin: 25px auto;
					img{

					}
				}	
			
			}
			.form-pesquisa{
				.form-group{
					display: inline-block;
					.text-pesquisa{
						width:180px;
						height: 35px;
						display: inline-block;
						border:solid 1px #08273B;
						background-color:#7a8a99;
						border-radius:0;
						color:$branco;
						margin:10px 20px;
					}
					input,
					textarea {
					    color: #fff;
					}

					::-webkit-input-placeholder {
					   color:#fff!important;
					   font-style:italic;
					   
					}

					:-moz-placeholder {
					   color:#fff!important;
					   font-style:italic;
					   
					}

					::-moz-placeholder {
					   color:#fff!important;
					   font-style:italic;  
					   
					}

					:-ms-input-placeholder {  
					   color:#fff!important;
					   font-style:italic;  
					   
					}
				}
			}	
			.mapa{
			    max-width: 579px;
			    width:100%;
				height: 230px;
				background-size:cover!important;
				background-position: center!important;
				margin:20px;
				iframe{
					width:100%!important;
					height: 230px!important;	
				}
			}			
			.imagens{
				ul{
					list-style: none;
					text-align: center;
				    margin: 0 150px 0 0;
					padding: 0;
					li{
						display: inline-block;					
						width:100%;
						max-width: 270px;
						min-height:140px;
					    margin: 15px 15px;
				        vertical-align: top;
						a{
							.bg-lugar{
								width:100%;
							    min-height: 150px;
								background-position: center!important;
								background-size:cover!important;						
							}

						}
						i{
							font-size:17px;
							font-family:"Open Sans";
							color:$bg-padrao;
							display:block;
							text-align:left;
							font-weight:600;
						}
					}
				}
			}	
			p{
				font-size:17px;
				font-family:"Open Sans";
				font-weight:400;
				margin:20px 0 0 20px;
				color:$bg-padrao;
			}
			span{
				color:$bg-padrao;
				margin:20px;
				font-family:"Open Sans";
				font-size:22px;
				text-transform: uppercase;
				font-weight:700;
			}
			.postagem{
				margin:20px;
				max-width: 600px;
				width: 100%;
				.post{
					min-height: 500px;
					.bg-post{
						width:100%;
						height: 290px;				
						background-size:cover!important;
						background-position:center!important;
					}
				.caixa{
					text-align:right;
				
					.posicao{
						position:relative;
						span{
							color:#1b3c59;
							font-style:italic;
							font-size:17px;
							margin:20px 20px 0;
							display:block;
						}
							.info{
								text-transform:uppercase;
								color:#1b3c59;
								font-weight:bold;
								font-size:25px;
								text-align:center;
							}
							a{
								display: block;
								border: solid 4px #1B3C59;
								width: 145px;
								height: 45px;
								text-align: center;
								padding: 10px;
								border-radius: 10px;
								color: #1B3C59;
								position:absolute;
								right:0;
								margin:10px;
								font-size:17px;
							}
						}
						.texto{
							padding:20px;			
							margin:0;
							font-size:17px;					
							font-family: 'Open Sans';
							color:#1b3c59;
							text-align:left!important;
							
						}
					}	
				}

			}	
		
	}

/*PÁGINA TRIP DE CASAL*/
	.pg-tripdecasal{
		.form-arquivo-blog{
			background:$azul-calro;
			height:190px;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 0 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.criterio{
				margin: 20px 0 0 0;	
				padding:0 0 0 10px;	
				height:35px;
				border:solid 1px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
			}
		}
	
		.sobre{
			font-family:'Open Sans';
			font-size:17px;
			color:$bg-padrao;
			padding:10px;
			min-height: 190px;
			margin: 0;
		}
		.imagens{
			position: relative;
			background-color: $bg-padrao;
		      min-height: 870px;
	        padding: 80px 0 30px 0;
			.pontilhado{
				background: url(../img/pontilhado.png);
				width: 82px;
				max-width: 82px;				
				position: absolute;
				left: 6px;				
			}
			p{
				margin: 0 0 10px;
				color: #fff;
				position: absolute;
				font-size: 20px;
				font-weight: bold;
				left: 160px;
				top:20px;
			}
			ul{
				list-style: none;
				text-align: center;			   
				padding: 50px 50px;
				margin:0;

				li{
					display: inline-block;					
					width:100%;
					max-width: 150px;
					min-height:150px;
				    margin: 15px 15px;
					a{
						.bg-lugar{
							width:100%;
						    min-height: 150px;
							background-position: center!important;
							background-size:cover!important;
						}
					}
				}
			}
		}		
		
	}

/*PÁGINA VIAJANDO NA MÚSICA*/
	.pg-musica{
		.close{
			span{
				font-size: 40px!important;
    			font-weight: bold!important;
			}
		}
		.form-arquivo-blog{
			background:$azul-calro;
			height:190px;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 0 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.criterio{
				margin: 20px 0 0 0;	
				padding:0 0 0 10px;	
				height:35px;
				border:solid 1px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
			}
		}
	
		.sobre{
			font-family:'Open Sans';
			font-size:17px;
			color:$bg-padrao;
			padding:20px;
			min-height: 190px;
			margin: 0;
		}
		.bg-musica{
			width:100%;			
			height: 330px;
			margin:20px;
		    max-width: 740px;
			background-position:center!important;
			background-size: cover!important;
		}
		.link-facaparte{
			background:transparent;
			border:solid 4px $bg-padrao;
			width:320px;
			height:45px;
			font-weight:bold;
			margin:25px 0;
			border-radius:9px;
			position:absolute;
		    right:0;
		    color:$bg-padrao;
		    text-align: center;
			display: block;
			line-height: 40px;
		}

		.conteudo{
			margin-top:100px;
			p{
				font-size:17px;
				font-family:"Open Sans";
				font-weight:400;
				margin:20px 0 0 20px;
				color:$bg-padrao;
			}
			span{
				color:$bg-padrao;
				margin:20px;
				font-family:"Open Sans";
				font-size:29px;
				text-transform: uppercase;
				font-weight:700;

			}
			.parceiros{
			    padding: 0;
				list-style: none;
				text-align: center;
				margin:50px 0;
				li{
					display: inline-block;
					width: 220px;
					text-align: center;
					margin: 10px;
					a{
						display: block;
						width:100%;
						text-align: center;
						img{}
					}
					i{
						font-size:19px;
						font-family:"Open Sans";
						color:$bg-padrao;
						display:block;
						text-align:left;
					}
				}
			}
		}	
		
	}

/*MODAL DE PARA SE ESCREVER / BANDA */
	.pg-musica{
		.modal-dialog-lg{
		    max-width: 900px!important;
		    margin:50px auto 0;
		}
		.modal-body{
		    background-color: #fff;
		    border-left:10px solid #1b3c59;
		    p{
				
				margin: 10px;
				font-size: 20px;
				font-family: 'Open Sans';
				display: inline-block;
				color: #1b3c59;
				font-weight: 600;
				text-transform: uppercase;
		    }
		    .info{
				color:#1b3c59;
				font-weight:400;
				font-style:italic;
				font-size:15px;
				display: block;
				padding: 10px;	
				
		    }
			.close{

			}
			.form-banda{
				.form-group{
					height: 40px;
					position: relative;				 
			        margin: 100px 0;
					input{
				    	border: none;
						border-radius: 0;
						height: 45px;
						font-size: 17px;
						padding: 5px;
						outline: none !important;
						border: 1px solid #1b3c59;
						z-index: 1;
		    	        &:focus{
		    	        	border:none;
		    	        	outline: none!important;
		    	        	box-shadow:none;
		    	        	border: 1px solid #1b3c59;
		    	        }
					}					
					textarea{
						max-height: 160px !important;
						height: 160px !important;
						/* max-width: 568px !important; */
						width: 100% !important;
						font-size: 17px;
						padding: 5px;
						border: 1px solid #1b3c59;
						border-radius: 0;
					}
					i{
						z-index: 999999;
						position: absolute;
					    top: -48px;
						display: block;
						background: #fff;
						width: 115px;
						height: 50px;
						text-align: center;
						line-height: 50px;
						border-bottom: 1px solid #fff;
						border-top: 1px solid #1b3c59;
						border-left: 1px solid #1b3c59;
						border-right: 1px solid #1b3c59;
						margin-bottom: -4px;
					    font-size: 26px;
					    color: #1b3c59;
					}


				}
				.botao-enviar{
					background: transparent;
					border: solid 4px #1B3C59;
					width: 150px;
					height: 50px;
					font-weight: bold;
					margin: 25px 0;
					border-radius: 9px;
					
					right: 130px;
					color: #1B3C59;
					&:hover{
						background:#1B3C59; 
						color:#fff;
					}
				}
			}
		}
	}

/*PÁGINA PARCEIROS*/
	.pg-parceiros{
		.form-arquivo-blog{
			background:$azul-calro;
			height:190px;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 0 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.criterio{
				margin: 20px 0 0 0;	
				padding:0 0 0 10px;	
				height:35px;
				border:solid 1px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
			}
		}
		.conteudo{
			p{
				font-size:17px;
				font-family:"Open Sans";
				font-weight:400;
				margin:20px 0 0 20px;
				color:$bg-padrao;
			}
			span{
				color:$bg-padrao;
				margin:20px;
				font-family:"Open Sans";
				font-size:29px;
				text-transform: uppercase;
				font-weight:700;
			}
			.parceiros{
			    padding: 0;
				list-style: none;
				text-align: center;
				margin:50px 0;
				li{
					display: inline-block;
					width: 220px;
					text-align: center;
					margin: 10px;
					a{
						display: block;
						width:100%;
						text-align: center;
						img{}
					}
				}
			}
		}
				
	}

/*PÁGINA DE CONTATO*/
	.pg-contato{
		.form-arquivo-blog{
			display: none;
		}
		.correcao{
			padding: 5px;
		}
		.bg-contato{
			width:100%;
			height: 340px;
			background-position:center!important;
			background-size:cover!important;
			margin: 20px 0 0;
		}
		.info{
			position:relative;
			min-height:250px;
			width: 100%;
			background:$azul-calro;
			padding: 20px;
		    
			span{
				color:$cor-texto-azul;
				font-weight:100;
				font-family:"Open Sans";
				font-size:17px;
				font-style:italic;
			}
			p{
				color: #1B3C59;
				font-family: "Open Sans";
				font-size: 18px;
				text-transform: uppercase;
				font-weight: 600;
			}
		}		
		.redes-sociais{
			top: 0;
		    background: transparent;
			right: 80px;
			position: absolute;
			a{
				text-decoration: none;
				color: #fff;
				font-size: 46px;
				margin: 5px;
				outline:none;
				&:hover{
					color:#1B3C59;
				}
				i{}
			}

		}
		.contato{
			span{
				color:$cor-texto-azul;			    
				font-family:"Open Sans";
				font-size:18px;
				font-style:italic;
			}
			p{
				color:$cor-texto-azul;
				font-family:"Open Sans";
				font-size:25px;
				text-transform: uppercase;
			}
		}
		.form{
			padding: 5px;
			margin:50px 0;
			width: 100%;
			max-width:520px;
			position:relative;
		    min-height: 360px;

			span{
				color:$cor-texto-azul;
				font-weight:100;
				font-family:"Open Sans";
				font-size:17px;
				font-style:italic;
			    font-weight: 400;
			}
			p{
				color:$cor-texto-azul;
				font-family:"Open Sans";
				font-size:25px;
				text-transform: uppercase;
				font-weight:700;
			}
			.form-group{
				label{}
				input{
					border:solid 1px $bg-padrao;
					border-radius: 0;
					background-color:#98a7b4;
				}

				textarea{
					border:solid 1px $bg-padrao;
					border-radius: 0;
					background-color:#98a7b4;
					width:100%;
					min-height:130px;
					max-height:130px;
				    max-width: 510px;
				    min-width: 510px;
				    padding:10px;

				}
				input,
				textarea {
				    color: #fff;
				}

				::-webkit-input-placeholder {
				   color:#fff!important;
				   font-style:italic;
				   font-weight:100;
				   
				}

				:-moz-placeholder {
				   color:#fff!important;
				   font-style:italic;
				   font-weight:100;
				   
				}

				::-moz-placeholder {
				   color:#fff!important;
				   font-style:italic;  
				   font-weight:100;
				   
				}

				:-ms-input-placeholder {  
				   color:#fff!important;
				   font-style:italic;  
				   font-weight:100;
				   
				}
			}
			.botao{
				background:transparent;
				border:solid 4px $bg-padrao;
				width:150px;
				height:50px;
				font-weight:600;
				margin:25px 0;
				border-radius:9px;
				position:absolute;
			    right:0;
			    color:$bg-padrao;
			    font-size: 18px;
	            
			}
		}
	}

/*PÁGINA DE ÁLBUNS*/
	.pg-albuns{
		
		.bg-fundo{
			width: 100%;
			background-color:transparent;
			min-height: 600px;
			padding: 65px 0 70px;
			position: relative;
			.close{
				position: absolute;
    			right: 0;
   				color: #fff!important;
    			z-index: 1;
    			font-size: 41px;
    			opacity: 1;
    			&:hover{
    				color:$bg-padrao!important;
    			}
			}
			.carrossel{				
				.item{
					width:100%;
					max-width:800px;
					height: 450px;
					margin:0 auto;
					.foto{
						max-width:800px;
						height: 450px;
						background-position: center!important;
						background-size:cover!important;
						position: relative;
					.descricao{
						position: absolute;
						bottom:0;
						width:100%;
						max-width:560px;
						min-height: 40px;
						background: rgba(0, 0, 0, 0.68);
					    padding: 15px 0px 0;
						p{
							color:$branco;
							font-size:20px;
							font-style:italic;
							font-weight:100;
							text-align: center;
						}
					}	
					}
				}
			}

			.carrossel-albuns{
				max-width:800px;
				margin:0 auto;
				padding:50px 0;
				position: relative;
				.owl-Carousel{
					.item{
						max-width:250px;
						width:100%;
						height: 150px;
						margin:0 auto;
						.foto-carrossel{
							width:100%;
							height: 150px;
							background-position: center!important;
							background-size:cover!important;
						
						}

					}
				}
				.navegacaoalbunsFrent{
					background: transparent;
					border: 0;
					color: #fff;
				    font-size: 60px;
					position: absolute;
					top: 50%;
					left: -60px;
					transform: translateY(-50%);
					
				}
				.navegacaoalbunsTras{
					background: transparent;
					border: 0;
					color: #fff;
				    font-size: 60px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					right: -60px;

				}
			}	
		}	
		.titulo{
			color:$branco;
			font-size:27px;
			
			font-weight:400;
		    margin: 10px 100px 10px;
			
		}
		.outros-albuns{
			ul{
				text-align: center;
				margin:0;
				padding:0;
				li{
					width: 100%;
					max-width: 270px;
					height: 170px;
					display: inline-block;
				    margin:20px 25px;
				    vertical-align: top;
				    min-height: 190px;
					a{						
						.album{
							width: 100%;
							height: 170px;
							background-position: center!important;
							background-size:cover!important;

						}
						
					}
					p{
						color:$branco;
						font-size:17px;
						font-style:italic;
						font-weight:100;
						text-align:left!important;

							
					}
				}
			}
		}
	}	

/*PÁGINA DE INSTAGRAM*/
	.pg-instagram{
		.titulo{
			color:$branco;
			font-size:27px;			
			font-weight:600;
		    margin: 10px 100px 10px;
		}
		.bg-fundo{
			width: 100%;
			background-color:rgba(0, 0, 0, 0.86);
			min-height: 600px;
			padding: 65px 0 70px;
			.carrossel{				
				.item{
					width:100%;
					max-width:800px;
					height: 450px;
					margin:0 auto;
					.fotoinstagramdestaque{
						max-width:800px;
						height: 450px;
						background-position: center!important;
						background-size:cover!important;
						position: relative;
					.descricao{
						position: absolute;
						bottom:0;
						width:100%;
						max-width:560px;
						min-height: 40px;
						background: rgba(0, 0, 0, 0.68);
					    padding: 15px 0px 0;
						p{
							color:$branco;
							font-size:20px;
							font-style:italic;
							font-weight:100;
							text-align: center;
						}
					}	
					}
				}
			}

			.carrossel-instagram{
				max-width:800px;
				margin:0 auto;
				padding:50px 0;
				position: relative;
				.owl-Carousel{
					.item{
						max-width:250px;
						width:100%;
						height: 150px;
						margin:0 auto;
						.fotoinstagram{
							width:100%;
							height: 150px;
							background-position: center!important;
							background-size:cover!important;
						
						}

					}
				}
				.navegacaoinstagramFrent{
					background: transparent;
					border: 0;
					color: #fff;
					font-size: 100px;
					position: absolute;
					top: 55px;
					left: -60px;
					
				}
				.navegacaoinstagramTras{
					background: transparent;
					border: 0;
					color: #fff;
					font-size: 100px;
					position: absolute;
					top: 55px;
					right: -60px;

				}
			}	
		}	
		
	}	

/*PÁGINA PLAYLISTS*/
	.pg-playlist{
		.form-arquivo-blog{
			background:$azul-calro;
			height:190px;
			width:100%;
			color:$branco;
			text-align:center;
			padding:27px 0 0 0;
			p{
				font-size:17px;	
				margin:0;
			}
			span{
				display:block;
				font-size:20px;
				text-transform:uppercase;

			}
			.criterio{
				margin: 20px 0 0 0;	
				padding:0 0 0 10px;	
				height:35px;
				border:solid 1px #08273B;
				background-color:#397d87;
				display:block;
				margin:10px auto 0 ;
			}
			input,
			textarea {
			    color: #D6D6D6;
			}

			::-webkit-input-placeholder {
			   color:#D6D6D6!important;
			   font-style:italic;
			   
			}

			:-moz-placeholder {
			   color:#D6D6D6!important;
			   font-style:italic;
			   
			}

			::-moz-placeholder {
			   color:#D6D6D6!important;
			   font-style:italic;  
			   
			}

			:-ms-input-placeholder {  
			   color:#D6D6D6!important;
			   font-style:italic;  
			   
			}
		}
		.propagandas{

			a{
				display: block;
				width: 100%;
				max-width: 345px;				
				margin: 25px auto;
				img{

				}
			}	
		
		}
		.form-pesquisa{
			margin-bottom: 30px;
			text-align: left;
			.form-group{
				display: inline-block;
				.text-pesquisa{
					width:250px;
					height: 35px;
					display: inline-block;
					border:solid 1px #08273B;
					background-color:#7a8a99;
					border-radius:0;
					color:$branco;
				    margin: 10px 20px;
				}
				input,
				textarea {
				    color: #fff;
				}

				::-webkit-input-placeholder {
				   color:#fff!important;
				   font-style:italic;
				   
				}

				:-moz-placeholder {
				   color:#fff!important;
				   font-style:italic;
				   
				}

				::-moz-placeholder {
				   color:#fff!important;
				   font-style:italic;  
				   
				}

				:-ms-input-placeholder {  
				   color:#fff!important;
				   font-style:italic;  
				   
				}
			}
		}	
		p{
			font-size:17px;
			font-family:"Open Sans";
			font-weight:400;
			margin:20px 0 0 20px;
			color:$bg-padrao;
		}
		span{
			color:$bg-padrao;
			margin:20px;
			font-family:"Open Sans";
			font-size:22px;
			text-transform: uppercase;
			font-weight:700;
		}
		.postagem{
			margin:20px;
			max-width: 600px;
			width: 100%;
			p{
				font-size:17px;
				font-family:"Open Sans";
				font-weight:400;
				margin:20px 0 0 20px;
				color:$bg-padrao;
			}
			span{
				color:$bg-padrao;
				margin:20px;
				font-family:"Open Sans";
				font-size:22px;
				text-transform: uppercase;
				font-weight:700;
			}
			.post{
				margin-top:50px;
				min-height: 500px;
				.bg-post{
					width:100%;
					height: 290px;				
					background-size:cover!important;
					background-position:center!important;
				}
			.caixa{
				text-align:right;
			
				.posicao{
					position:relative;
					.trilha{
						color:#1b3c59;
						font-style:italic;
						font-size:20px;
						margin:20px 20px 0;
						display:block;
						font-weight:400;
					}
						.info{
							text-transform:uppercase;
							color:#1b3c59;
							font-weight:bold;
							font-size:25px;
							text-align:center;
							margin-bottom: 20px;
						}
						.bg-album{
							
							width: 128px;
							height: 140px;
							background-size:cover!important;
							background-position:center!important;
							margin:0 auto;
							
						}
					}
					.texto{
						padding:20px;			
						margin:0;
						font-size:30px;					
						font-family: 'Open Sans';
						color:#1b3c59;
						text-align:left!important;
						font-style:italic;
						font-weight:100;
					    line-height: 25px;
						
					}
					iframe{
						display: block;
						margin: 0 auto;
					}
				}	
			}

		}		
		
	}

/*PÁGINA DE PESQUISA*/
	#result-pesquisa{
		text-transform: uppercase;
		color: #1b3c59;
		font-weight: bold;
		font-size: 30px;
		text-align: center;
		span{
			font-weight: 100;
		}
	}
	#result-pesquisa2{
		display: block;
		width: 100%;
		p{
			color: #1b3c59;
			text-align: center;
			font-size: 50px;
			/* width: 100%; */
			width: 773px;
			margin: auto;
		}
	}
	.botoes-pagina-pesquisa{
		position: inherit!important;
		display: inline-block!important;
	    width: 243px!important;
	}
	#postagem-pesquisa{
		max-width:inherit!important;
		margin:0!important;
	}

/* @MEDIA */
	@media (max-width: 2560px) {
		.topo .bg-header{
		    height: 815px;
		}
	}
	@media (max-width: 1440px) {
		.topo .bg-header{
		    height: 815px;
		}
	}
	@media (max-width: 1024px) {
		.topo .bg-menu .posicao .pontilhado{
			width:55px;			
		}
		.newsletter .form .formError .formErrorContent{
		    right: 60% !important;
		}
		.videos .carrossel .owl-Carousel .item iframe{
		    width: 250px;
		}
		.pg-lugares .imagens ul{
			margin:0;
		}
	}
	@media (max-width: 768px) {
		.pg-contato .form .form-group textarea{
			min-width: inherit;
		}
		.pg-inicial .postagem .post .caixa .posicao .info{
			text-align: center!important;
			padding: 5px;
		}
		.newsletter .form .formError .formErrorContent{
			position: inherit!important;
			margin:0 auto;
		}
		.pg-quem-faz .postagem .post .caixa .posicao .info{
		    text-align: center;
		}
		.topo .bg-menu .posicao .pontilhado{
			width: 82px;
			min-height: 664px;

		}
		.pg-lugares .postagem{
			max-width:initial;
			margin:20px  0;
		}
		.pg-categoria-lugares .postagem{
			margin: 0;
		}
		.pg-galeria-lugares .postagem{
			margin: 0;
		}
		.pg-inicial .postagem .post .caixa .posicao a,.pg-lugares .postagem .post .caixa .posicao a,.pg-categoria-lugares .postagem .post .caixa .posicao a,.pg-galeria-lugares .postagem .post .caixa .posicao a{
			margin: 0 auto;
		    position: initial!important;

		}
		.pg-inicial .postagem .post .caixa .posicao span,.pg-categoria-lugares .postagem .post .caixa .posicao span,.pg-galeria-lugares .postagem .post .caixa .posicao span{
			text-align:center;
		}
		.pg-lugares .postagem .post .caixa .posicao span{
			text-align: center!important;
		}
		.topo .bg-menu .busca-site{
			margin:0!important;
		}
		.topo .bg-header{
			height:450px;
		}
		.videos .bg{
			width: 95%;
			min-height: 50px;
		}
		.newsletter .redes-sociais-footer{
		    max-width: 330px;
	        text-align: center;
		}
		.newsletter .redes-sociais-footer p{
			max-width:initial!important;
			padding:5px;
		}
		.newsletter .form{
		   min-height: 320px;
		   padding:5px;
		}
		.newsletter .form .botao{
		    position:initial;
		    display:block;
		    margin: 25px auto;
		}
		.videos .carrossel .owl-Carousel .item iframe{
			width:300px;
		}
		.pg-postagem .postagem .post .caixa .pontilhado-postagem{
			width:100%;
			max-width: initial;
		}
		.pg-quem-faz .postagem .post .caixa .pontilhado-postagem{
			width:100%;
			max-width: initial;
		}
		.pg-postagem .postagem .post .caixa .posicao span{
			text-align: center;
		}
		.pg-quem-faz .postagem .post .caixa .posicao span{
			text-align: center;
		}
		.pg-quem-faz .postagem{
			max-width: initial;
			margin:0;
		}
		.pg-tripdecasal .imagens p{
			position:initial;
			text-align:center;
		    padding: 20px 0 0;
		}
		.pg-postagem .postagem {
			margin: initial !important;
			max-width: initial !important;
			width: initial !important;
		}
		.pg-contato .form .botao{
			position:initial;
		}
		.pg-contato .redes-sociais{
		    right: 60px;
		}
		.pg-musica .bg-musica,.pg-playlist .postagem{
			margin:0;
		}
		.pg-musica .conteudo p,.pg-categoria-lugares p,.pg-galeria-lugares p{
			text-align:center;
			margin:0;
		}
		.pg-musica .conteudo span,.pg-categoria-lugares span,.pg-galeria-lugares span,.pg-categoria-lugares .imagens ul li i,.pg-galeria-lugares .imagens ul li i{
			text-align: center;
			margin:0;
			display: block;

		}
		.pg-musica .link-facaparte{
			margin:20px auto;
   	 		position: inherit;
	 		width: 306px;
 		   	height: 50px;
		}
		.pg-categoria-lugares .imagens ul,.pg-galeria-lugares .imagens ul{
			margin:0;
		}

		.pg-categoria-lugares .form-pesquisa .form-group,.pg-galeria-lugares .form-pesquisa .form-group{
			display: block;
		}
		.pg-categoria-lugares .form-pesquisa .form-group .text-pesquisa,.pg-galeria-lugares .form-pesquisa .form-group .text-pesquisa{
			margin: 0 auto;
			display: block;
		}
		.pg-albuns .bg-fundo .carrossel-albuns .owl-Carousel .item{
		    max-width: 200px;
		}
		.pg-galeria-lugares .mapa{
			margin:20px auto;
		}
		.pg-albuns .outros-albuns ul li{
			margin:20px 0;
		}
		.pg .botao-search{
			text-align: center;
			display: block;
			width: 100%;
			margin-bottom: 50px;
		}
		.pg-tripdecasal .imagens{
		    min-height: 380px;	  
	   } 
	   .topo .bg-header #frase{
	   	margin: 0;
	   	padding: 5px;
	   } 
	   .pg-lugares .postagem .post .caixa .posicao .info{
	   	text-align: center;
	   } 
	   .modal-topo i{
	   	text-align: center;
	   	display: block;
	   }
	   .pg-postagem .postagem .post .caixa .posicao .in-fo{
	   	padding: 10px;
	   }
		

	}
	@media (max-width: 425px) {
		.pg-parceiros .conteudo span{
			display: block;
			text-align:center;
		}
		.pg-parceiros .conteudo .parceiros li a img{
			margin: auto;
		}
		.topo .bg-menu .posicao .pontilhado{
			width: 82px;
			min-height: 275px;
		}
		.pg-inicial .postagem{
		    width: inherit;
	        margin: inherit;
		}
		.videos .carrossel .owl-Carousel .item iframe{
		    width: 170px;
		}
		.pg-lugares .postagem {
		    max-width: initial;
		    width: inherit;
		}
		.pg-tripdecasal .imagens p {
		   
		    padding: 20px 0 0px 50px;
		}
		.pg-tripdecasal .imagens ul li {
		  
		    max-width: 235px;
		    
		}
		.pg-tripdecasal .imagens ul{
		    padding: 0 0 0 60px;
		}
		.pg-contato .redes-sociais {
		    
		    position: inherit;
		}
		.pg-playlist span{
			text-align: center!important;
			display: block;
		}
		.pg-playlist .form-arquivo-blog span{
			text-align: center!important;
		}

	}
	@media (max-width: 375px) {
		.videos .carrossel .owl-Carousel .item iframe{
			width:100%;
		}
		.rodape .mapa-footer .mapa ,.rodape .mapa-footer span{
			text-align:center;
		}
		.pg-tripdecasal .imagens p {
		    padding: 20px 0 0 76px;
		    font-size: 18px;
		}
	}
	@media (max-width: 320px) {
		.topo .bg-menu .posicao .pontilhado{
			width:53px;
		}
		.topo .bg-header {
		    height: 390px;
		}
		.videos .carrossel .owl-Carousel .item iframe{
			width:100%;
		}
		.pg-tripdecasal .imagens .pontilhado{
			max-width:30px;
		}
		.pg-tripdecasal .imagens p {
			padding: 20px 0 0px 50px;
		}
		.pg-tripdecasal .imagens ul li {
	    	max-width: 228px;
		}
	}

/*CORREÇÕES*/
	
	.page-template-tripdecasal{
		.propagandas{
			display: none!important;
		}
	}
	.AlpinePhotoTiles-link{
		display:inline!important;
	}
	.pg-inicial .postagem .post .caixa .posicao span{
		font-weight: 400;
	}

	.AlpinePhotoTiles-image-div{
		
		border: solid 5px $bg-padrao;

	}
	.modal-galeria{
		margin: 0!important;
	}

	
