/*
Theme Name: Trip de Casal
Theme URI: http://underscores.me/
Author: Palupa
Author URI: http://palupa.com.br/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tripdecasal
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Trip de Casal is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries

	*/
	div.wpcf7-mail-sent-ng{
		    margin-top: 70px!important;
	}
	div.wpcf7-validation-errors{
		    margin-top: 70px!important;
	}
	div.wpcf7-mail-sent-ok{
		    margin-top: 70px!important;
	}